[2016-02-21 18:38] RealRancor opened #1 "Updates/corrections for appstore release"
Hi,

there are currently two issues where at least one of them make the app not install-able via the oC internal appstore:

1. The appinfo/info.xml should contain the ``<ocsid>174671</ocsid>`` metadata
2. The archive at the appstore (https://apps.owncloud.com/content/show.php/Polls?content=174671) containing a folder named polls-0.6.0. This makes the app not install-able as a:

is shown when tryin

[2016-02-21 19:38] RealRancor opened #2 "Polls of old app not compatible with rework"
Hi,

it seems the polls created with the old app are not compatible with the rework. After upgrading the following is shown:

[code]

I think its probably too much work to make a converter so it could make sense to warn users that they should delete polls of the old apps before installing the new rework.

[2016-02-21 19:46] v1r0x commented on #2
Good point, will add a warning to the apps page.

[2016-02-21 19:51] v1r0x commented on #1
Thanks for your contribution

1. Thought this would break it and is an old tag^^'

[2016-02-21 20:12] v1r0x commented on #1
@RealRancor Could you please test again and close the issue if it works (or report if the problem still exists, of course)

[2016-02-21 20:12] #2 closed

[2016-02-21 20:19] RealRancor commented on #1
Works now to install the app from within oC. Thanks! :+1:

[2016-02-21 20:19] #1 closed

[2016-02-21 21:26] v1r0x commented on #1
Great! Thanks again for your help! :)

[2016-02-24 02:42] Liwindo opened #3 "clicking on the app-button ends on a blank page"
### Steps to reproduce
1. Have the old polls-app installed
2. Upgrade to the new polls-app
3. activate the app
4. click on the app button

### Expected behaviour
The app works fine

### Actual behaviour
A blank page appears

### Server configuration
**Operating system**: Ubuntu 14.04.4

**Web server:** apache with nginx proxy

**Database:** mysql 5.5.47-0ubuntu0.14.04.1

**PHP version:** 7.0.3

**

[2016-02-24 12:27] v1r0x commented on #3
I don't know if PHP7 is a problem. I'm currently trying to set up a VM with PHP7 to check if I have the same problem. Do you have a oc instance with an older php version? You said you tried it on several systems. Are there any differences between your systems?

You could also try the current master. I made some small fixes (unrelated to you error, but maybe it works).

[2016-02-24 12:34] Liwindo commented on #3
Indeed, PHP 7 is the problem. With 5.6.18 it works fine.

[2016-02-24 13:48] v1r0x commented on #3
Can confirm that. Same problem on PHP7 for me. I'll look into it.

[2016-02-25 10:01] v1r0x commented on #3
@Liwindo Could you please test the PR #4 with your PHP7 instance?

[2016-02-25 17:43] MarPiRK commented on #3
I had the same situation and it works for me (CentOS 7, PHP-FPM 7.0.3 from remi repo).

[2016-02-25 17:48] RealRancor commented on #3
@Liwindo @MarPiRK Btw. you guys should be aware that oC 8.2.2 is not compatible with PHP 7. Watch out for oC 8.2.3 to get compatibility with that version of PHP.

[2016-02-25 17:55] v1r0x opened #5 "Add important info to readme/app page"
Some important info(s) are missing.
- [x] Users get a blank page after create/edit a poll or voting (fix in core)

[2016-02-25 18:00] v1r0x commented on #3
Sorry, totally forgot about it! There was a bug in core which returned a wrong http status code for the redirect response I use in this case. I'll try to find a workaround or, if this doesn't work add a note to the readme file (#5).
If you want to fix it, see [this PR](https://github.com/owncloud/core/pull/22497) for the lines you have to edit.

I thought 8.2 is already compatible with PHP 7. At l

[2016-02-25 18:03] RealRancor commented on #3
Unfurtunately not. The SabreDAV lib shipped with oC 8.2.2 and earlier is not PHP 7 compatible:

https://github.com/owncloud/core/issues/21914, https://github.com/owncloud/core/pull/21938

[2016-02-25 19:08] MarPiRK commented on #3
@v1r0x Nice, with this fix everything works.
@RealRancor Basing on https://owncloud.org/blog/php-7-is-here-and-owncloud-is-ready/ it looks like core is compatible in general – only Calendar and Contacts apps (which utilize SabreDAV from core) have some issues.

[2016-02-25 19:10] RealRancor commented on #3
@MarPiRK Everything what is SabreDAV (WebDAV, CalDAV, CardDAV) might have or has issues with PHP7.

[2016-02-25 19:14] #5 closed

[2016-02-25 19:24] MarPiRK commented on #3
@RealRancor Good to know

[2016-02-26 15:47] Liwindo commented on #3
I can confirm that it works now. But is it normal that the background of a created polls gets white when I put the mouse curser on it? Have a look: http://www.directupload.net/file/d/4276/veex8tm4_png.htm

[2016-02-26 16:00] #3 closed

[2016-02-26 16:01] v1r0x commented on #3
Yes and no. Didn't know why it has been this way, but found the problem ;)

[2016-02-26 16:06] v1r0x opened #7 "white background on hover"
@Liwindo
Pushed to the wrong branch, but could you test if current master fixes the problem with hovering in the poll summary? (see [comment](https://github.com/v1r0x/polls/issues/3#issuecomment-189331921))

[2016-02-26 16:27] Liwindo commented on #7
Yeah, it works now. But there are some other problems that I found:

I created a poll with three different days and two time options and activated the time options for all days. The created poll itself looks really strange, because it seems to have duplications. And last but not least I selected 17.30 and 45 and not 16.30 and 45: http://www.directupload.net/file/d/4276/ckuuqxpp_png.htm

[2016-02-26 16:34] #7 closed

[2016-02-26 16:35] v1r0x commented on #7
The wrong hour is due to timezones. They are stored in GMT and e.g. germany has GMT+1. Please open a new issue for the duplicates and describe the steps to reproduce it. Thanks for your help!

[2016-03-05 21:25] v1r0x opened #11 "code comments"

[2016-03-06 15:06] v1r0x opened #12 "default parameter doesn't work in IE/Chrome"
Using `function foo(bar = 'baz')` doesn't work.

[2016-03-07 20:18] v1r0x commented on #12
Fixed in #13

[2016-03-07 20:18] #12 closed

[2016-03-08 16:43] danielepercivaldi opened #14 "Internal server error happens when it tries to load the list of polls"
Using:

- Ubuntu 14.4 64bit
- owncloud 8.1.5
- firefox 44.0.2
- chrome 48.0.2564.116 m

Below the console log:
https://nerv.net.intre.it/core/vendor/jquery/jquery.min.js?v=e2dd59b96267903f7a35f4e5c2d57557 Failed to load resource: the server responded with a status of 412 (Precondition failed)send @ jquery.min.js?v=e2dd59b96267903f7a35f4e5c2d57557:6

Below owncloud log when error occurs:
[owncloud.

[2016-03-08 18:35] v1r0x commented on #14
Does this happen after the blank page workaround or even with a unmodified oc instance?

[2016-03-08 20:38] danielepercivaldi commented on #14
After the blank page workaround.

[2016-03-08 21:21] v1r0x commented on #14
Maybe something is broken. Can't see an error of the polls app. Try to revert the changes and check if it works.

[2016-03-08 21:37] danielepercivaldi commented on #14
Hi.
Sorry, I wrong.
Internal server error occurs with and without blank page workaround (BPW).
Here the sequence of events that has given the situation:

1. installed polls 0.6.9
2. added a poll without BPW. Result: blank page.
3. applied BPW
4. added poll. Result: poll was added and few seconds after loading poll list server internal error occurs
Hope this can help you.

[2016-03-08 21:45] v1r0x commented on #14
Could you try to revert the BPW and create a new poll and then load the poll list?

[2016-03-08 21:46] danielepercivaldi commented on #14
Just discovered what happened: I installed your app before deleting the polls of the old one ... now with BPW it works fine.
Sorry.

[2016-03-08 21:49] v1r0x commented on #14
Glad to hear that!

[2016-03-08 22:19] danielepercivaldi commented on #14
Sorry to disturb you again, but the error happens again.
When I backed to the old version after "internal server error" I found a poll with creation and expiration date on 1/1/1970 so I thought thet it was an old poll post database conversion for the new app.
It seems it works only once in order to add one poll and then ... internal server error, w/o BPW.

[2016-03-08 22:28] v1r0x commented on #14
Could you set your oc debug level in `config.php` to `0` and create a new poll and post the oc log here, please.

[2016-03-08 22:35] danielepercivaldi commented on #14
Log with BPW:

[owncloud.log.txt](https://github.com/v1r0x/polls/files/164095/owncloud.log.txt)

[2016-03-08 22:39] danielepercivaldi commented on #14
Log without BPW:

[owncloud.log.2.txt](https://github.com/v1r0x/polls/files/164100/owncloud.log.2.txt)

[2016-03-08 22:40] v1r0x commented on #14
Ok, maybe I found the problem. Could you check in the database (`SELECT hash FROM oc_polls_events`) or somewhere else if there is a `/` in the poll url? (Something like `https://yourdomain.tld/owncloud/index.php/apps/polls/goto/<hash>`)

[2016-03-08 22:55] danielepercivaldi commented on #14
Well, I checked all the tables, but you must know that now the app does not add any poll, so the list is empty, BUT, checking all the tables, I found all other info I entered (texts and dts, for instance).
I don't know, stranger and stranger.

[2016-03-08 23:28] v1r0x commented on #14
I'm not able to figure out whats the problem. The two logfiles have completely different errors. You could try to delete the app, reinstall the current master branch and increase the version in `polls/appinfo/info.xml` to something like 0.6.9.1 and force a db update. I think something in your DB is messed up with the old and new version.

[2016-03-09 11:39] v1r0x opened #15 "Typo in toggle-all"
https://github.com/v1r0x/polls/blob/master/js/vote.js#L104

[2016-03-09 11:41] #15 closed

[2016-03-09 20:02] danielepercivaldi commented on #14
Done. Database updated.
Nothing: no more internal server error but no poll added ...

[2016-03-09 20:03] v1r0x commented on #14
Any new errors in the js console or oc log?

[2016-03-09 20:13] danielepercivaldi commented on #14
Nothing in console.
In log two errors about pollid. Are those yours?

![cattura](https://cloud.githubusercontent.com/assets/8720648/13648950/9b555718-e63b-11e5-8b7c-fb8aa69a3bad.JPG)

[2016-03-09 20:37] v1r0x commented on #14
Yes, looks like a typo. Could you please test the branch with the fix from #17 ?
Thanks for your comments and all the testing so far!

[2016-03-09 21:03] danielepercivaldi commented on #14
Sorry, not yet any poll in list after adding it.
All oc_polls tables are empty but:

- oc_polls_txts

"id","poll_id","text"
"1","","qwerty3"
"2","","qwerty1"
"3","","qwerty2"
"4","","test13"
"5","","test11"
"6","","test13"
"7","","test11"
"8","-1","test11"
"9","-1","test13"
"10","-1","test14"
"11","-1","test1"
"12","-1","test1"
"13","-1","test23"
"14","-1","test21"

- oc_polls_dts

"id","dt","poll

[2016-03-09 21:21] v1r0x commented on #14
Found another typo. Please try again. :)

[2016-03-09 22:06] danielepercivaldi commented on #14
Good. Now it works once. Then I removed the first added poll, added a new one and finally ... internal server error.

[2016-03-09 22:42] v1r0x commented on #14
Looks like the hash generator adds `\` and `/` to it, which is prohibited. I'll try to fix this later or tomorrow. As a workaround you could try to replace all `\` and `/` in the hashs in oc_polls_events.

[2016-03-09 22:53] danielepercivaldi commented on #14
You are rigth.
This explains why sometimes internal server error occurs and sometimes not: probability of hash generation with / and/or \ .
Ok. Let's go on tomorrow.

Goodnight!

[2016-03-10 00:39] v1r0x commented on #14
Should be fixed now. Please check out latest patch in the #17 branch and check if new polls work for you (remember to remove the old ones with / and \)

[2016-03-10 22:43] v1r0x commented on #14
Couldn't reproduce it, but changed something. Maybe this works? Please test again the updated branch.

[2016-03-11 21:57] danielepercivaldi commented on #14
Sorry ...

![cattura](https://cloud.githubusercontent.com/assets/8720648/13716439/550497d2-e7db-11e5-8e2c-c54dc54a082a.JPG)
![cattura](https://cloud.githubusercontent.com/assets/8720648/13716458/7a264f1a-e7db-11e5-8421-ca601caf6f16.JPG)

J console:
POST https://nerv.net.intre.it/index.php/apps/polls/insert 500 (Internal Server Error)

[2016-03-12 13:28] v1r0x commented on #14
This is weird. Could you please checkout the branch again and test the new commit?

[2016-03-12 18:32] danielepercivaldi commented on #14
![cattura](https://cloud.githubusercontent.com/assets/8720648/13724537/209d6a10-e889-11e5-9a4d-5efbe146c618.JPG)

[2016-03-13 00:11] v1r0x commented on #14
Ok, now please test again.

[2016-03-13 00:17] danielepercivaldi commented on #14
![cattura](https://cloud.githubusercontent.com/assets/8720648/13726112/4a78c3a4-e8b9-11e5-86d5-efb40e63c16a.JPG)

[2016-03-13 00:33] v1r0x opened #18 "Never expireable polls expire on 02.01.1970"

[2016-03-13 00:46] v1r0x opened #19 "'>' in user name row"

[2016-03-13 00:53] #19 closed

[2016-03-13 01:10] #18 closed

[2016-03-13 21:26] v1r0x commented on #14
Ok, let's try this one more time!
Please make sure you are on the `fix-pollid-typo` branch and the latest commit is `ea29b677dfab07bd570ad8aac820b57821347c60`.

[2016-03-13 21:45] danielepercivaldi commented on #14
Just to be sure, this is what I do:

cd /var/www/owncloud/apps
git clone https://github.com/v1r0x/polls.git
cd polls
git checkout fix-pollid-typo

Right? Anything else? Or is anything wrong?

[2016-03-13 22:05] danielepercivaldi commented on #14
No.
![cattura](https://cloud.githubusercontent.com/assets/8720648/13731702/1d469ebc-e970-11e5-9217-c03c35950601.JPG)

[2016-03-13 22:06] v1r0x commented on #14
Exactly. Should work now. @LukasReschke reminded me how dumb I am ;)

[2016-03-13 22:06] v1r0x commented on #14
I added a new commit which should work.

[2016-03-13 22:15] danielepercivaldi commented on #14
It seems ok now. Well, no internal server error when adding, but when voting now. And other errors.

[2016-03-13 22:21] danielepercivaldi opened #22 "Expiration date on 2/1/1970 when no expiration date set"
![cattura](https://cloud.githubusercontent.com/assets/8720648/13731785/4e2337aa-e972-11e5-883d-c48d75557890.JPG)

[2016-03-13 22:22] v1r0x commented on #14
Let's merge this one and please open a new issue with your problem and a log. Thanks for all the help!

[2016-03-13 22:22] #14 closed

[2016-03-13 22:25] danielepercivaldi opened #23 "Text based polls editing does not show texts"
If you define a poll like this:
![cattura](https://cloud.githubusercontent.com/assets/8720648/13731795/adc753a8-e972-11e5-85d8-0400c56584b8.JPG)

When you edit it you cannot see its own texts:
![cattura](https://cloud.githubusercontent.com/assets/8720648/13731799/d5c9de34-e972-11e5-9a33-af1c5707d2a3.JPG)

[2016-03-13 22:29] danielepercivaldi opened #24 "Internal server error happens when voting"
![cattura](https://cloud.githubusercontent.com/assets/8720648/13731837/6ef75640-e973-11e5-9eb7-a7dcff81164d.JPG)

[2016-03-13 22:38] danielepercivaldi opened #25 "Cannot understand how voting procedure works"
How the poll appears:
![cattura](https://cloud.githubusercontent.com/assets/8720648/13731849/fe32de38-e973-11e5-9050-deee1e4b9e7e.JPG)
If I press on the "yellow area" it becomes:
![cattura](https://cloud.githubusercontent.com/assets/8720648/13731859/26759a66-e974-11e5-94d3-13ad9645fd2e.JPG)
and again
![cattura](https://cloud.githubusercontent.com/assets/8720648/13731868/5839fc4a-e974-11e5-8108-44c

[2016-03-14 00:39] v1r0x commented on #22
Should be fixed in current master. please test and report.

[2016-03-14 00:43] v1r0x commented on #25
The colored area on the left of the vote cells is a "toggle-all" cell. It should turn all cells to the color of the "toggle-all" color. This cell should work as all other cells.

But you are right. There should be some explanation what it does. Maybe @jancborchardt has an idea? (Sorry for mention you ;))

[2016-03-14 01:29] v1r0x commented on #24
Just for the record: This only happens with text polls?

[2016-03-14 09:15] danielepercivaldi commented on #22
It's ok

[2016-03-14 09:17] danielepercivaldi commented on #24
Yes

[2016-03-14 09:21] danielepercivaldi commented on #25
Ok, I see: it works only for event polls.
In text polls toggle-all does not work and you cannot vote single item (the pointer change but when you clic nothing happens).

[2016-03-14 09:43] danielepercivaldi opened #26 "When you edit a poll the description field is empty"
When you edit a poll that has got a description, description field becomes empty (both texts and events polls).

[2016-03-14 09:50] #22 closed

[2016-03-14 09:50] v1r0x commented on #26
Ok, I'll look into it. Thanks!

[2016-03-14 09:51] v1r0x commented on #24
Ok, I'll do some more testing with text polls.

[2016-03-14 11:10] v1r0x commented on #24
Please test #27, hopefully it works now.

[2016-03-14 11:11] v1r0x commented on #25
This should be fixed in #27 as well.

[2016-03-14 11:54] v1r0x commented on #23
Please test #29

[2016-03-14 17:09] dekuenstle opened #30 "Voting not possible in chromium 48"
Clicking on the fields resulted in no feedback in chromium 48

[2016-03-14 17:15] dekuenstle opened #31 "Fast clicking produced wrong graphical feedback"
If you fast double/trible click on a field, the color just switches to the next one instead of the one after (or 2 after). The numbers sometimes did very weird things and did not represent the correct data shown with the field colors. For example there was a green 5 for a poll with only 3 voters.

[2016-03-14 17:16] dekuenstle opened #32 "Feature request: Short cuts"
Pressing keys to fast select green/yellow/red on the field you hover would be nice at first.
If you could vote completely with the keyboard it would be awesome.

[2016-03-14 17:18] dekuenstle opened #33 "Feature request: Vote whole day"
It would be nice, if you could vote for the whole day e.g. by clicking on the timeline.

[2016-03-14 17:21] dekuenstle opened #34 "Poll link while logged out results in confusing error message"
If not logged in the poll link should show loggin mask instead telling the poll does not exist or you lack rights

Error message:

[2016-03-14 17:23] v1r0x commented on #34
I'll look into it.

[2016-03-14 17:23] v1r0x commented on #31
Already have a lot of bugs in the 0.7 milestone. So, rather a fix for 0.7.x

[2016-03-14 17:24] v1r0x commented on #30
Any errors in the js console? (`Ctrl+Shift+J` I think).

[2016-03-14 17:33] dekuenstle commented on #30
Ah, yes, sorry:
The ES6 feature  default parameter which chrome only supports in 49+ is the problem here.
If you prefer using modern JS (which is a good idea), think about using a converter like [babel](https://babeljs.io/) and shims while the browser support is that weak (esp IE).

PS: `Ctrl+Shift+i` ;)

[2016-03-14 17:44] v1r0x commented on #30
I already fixed this in our OC, but forgot to pull. Should work now ;)

[2016-03-14 20:08] #23 closed

[2016-03-14 20:09] #24 closed

[2016-03-14 20:09] #26 closed

[2016-03-14 21:55] danielepercivaldi opened #35 "Blank page when voting and "Receive notification email on activity" flag enabled"
If you vote and "Receive notification email on activity" is enabled you get  a blank page.

[2016-03-14 22:03] danielepercivaldi opened #36 "Poll initialization"
When you enter a poll the first time and never voted:
![cattura](https://cloud.githubusercontent.com/assets/8720648/13761360/55eabc44-ea38-11e5-8d19-f6d42a04c4c9.JPG)
I think it should instead be:
![cattura](https://cloud.githubusercontent.com/assets/8720648/13761400/a7303a34-ea38-11e5-86a0-37caf5cd8e87.JPG)
because if you vote a single item (-1 ?!?):
![cattura](https://cloud.githubusercontent.com

[2016-03-14 22:09] v1r0x commented on #36
No, the white cells are intended. The "-1" of course not ;)

[2016-03-14 22:09] danielepercivaldi opened #37 "Disabled items no more present in editing mode"
I defined the following text poll (4 items: 2 enabled, 2 disabled):
![cattura](https://cloud.githubusercontent.com/assets/8720648/13761543/8d007024-ea39-11e5-8429-18ab8f711b48.JPG)
I saved it and then entered in editing. There are no more the disabled items:
![cattura](https://cloud.githubusercontent.com/assets/8720648/13761587/d57db4ec-ea39-11e5-9dae-8d3a01a78ec6.JPG)

[2016-03-14 22:16] danielepercivaldi opened #38 "Feature request: anonymous poll"
I would like an additional option in poll creation: anonymous.
If enabled each one who participates to the poll cannot see the votes of each other but only the totals.

[2016-03-14 23:19] v1r0x commented on #38
I'll add this to the list for future development.

[2016-03-14 23:21] v1r0x commented on #37
Yes, only previous selected items are present in editing mode. Expect for items where only some of a row are selected.

[2016-03-15 01:55] #25 closed

[2016-03-15 01:56] #37 closed

[2016-03-15 02:00] v1r0x commented on #32
Don't know what would be a good system (e.g. user friendly). Any ideas?

[2016-03-15 09:18] dekuenstle commented on #32
I'm also not sure but have a suggestion:
I think allways using three keys of the homerow (no breaking fingers) for the three states of  a field would help.
Then the question occurs, for which field the keypress should account.
If the mouse hovers over a field of the user this should be 'glowing'. Clicking on it should toggle through the states like in the status quo. But pressing on of the keys (l

[2016-03-15 09:20] dekuenstle commented on #30
Works :)) Thank you!

[2016-03-15 11:07] #30 closed

[2016-03-15 18:48] danielepercivaldi commented on #35
Update:
If you enter a poll and you do nothing but "Vote" you get a blank page.

[2016-03-15 18:54] #36 closed

[2016-03-15 19:04] danielepercivaldi opened #41 "toggle-all is quite confunding"
I used the app for many test, you know.
I think the "toggle-all" button is quite confunding.
I think you cannot use the toggle-concept (usually binary, on-off, true-false, etc.) for a three states application.
The user must know that the sequence of the toggle button value is GRY.
Then, if you vote Green/Yellow/Red all the options the toggle button does not change its own status so you can achieve

[2016-03-16 00:33] v1r0x commented on #41
I thought the same behaviour for the toggle-all button would be the best. As every normal button it switches to the next color. What would you prefer?

[2016-03-16 20:39] danielepercivaldi commented on #41
Ok. I have thougth a bit during the day, and I have stated the following rule:

- the toggle button must show always the "destination color".

So:
the sequence is YGR.
if you enter a never voted poll:

1. all items are white and toggle is Y
2. if you press the toggle then all items become Y and the toggle G
3. if you press the toggle again then all items become G and the toggle R
4. if you press t

[2016-03-17 00:06] #34 closed

[2016-03-17 15:03] freddie-freeloader commented on #32
dudle does have the following binding afaik:
* TAB - `next`
* UP - Set `okay`
* DOWN - Set `not okay`

[2016-03-17 20:39] danielepercivaldi commented on #35
Sorry, not yet working.

[2016-03-17 21:52] #35 closed

[2016-03-18 02:16] v1r0x commented on #41
I'll implement it and then we can evaluate if it is more user friendly

[2016-03-18 14:14] danielepercivaldi opened #45 "info.xml version does not match store version"
info.xml version does not match store version, so manual installation needed.

[2016-03-18 20:42] v1r0x commented on #45
Thanks for the hint! Should be fixed.

[2016-03-18 22:16] danielepercivaldi commented on #45
It's ok.

[2016-03-18 23:27] RealRancor opened #46 "White page after "Next" on creating new poll"
Using Polls 0.7.0 on oC 8.2.3 hitting "Next" on the "Create new poll" page leads to a white page.

Steps to reproduce:

1. Create new poll
2. Enter simple title and description
3. Leave the defaults "Registered users only",  "Event schedule" and no "Expires"
4. Choose one single day and one single hour
5. Turn the single cell to green
6. Hit "Next"

After doing this steps the /index.php/apps/polls

[2016-03-18 23:30] v1r0x commented on #46
This is a bug in oc core and has been fixed for 9.0. For older versions you have to edit this line: https://github.com/owncloud/core/blob/v8.2.3/lib/public/appframework/http/redirectresponse.php#L47 and replace `Http::STATUS_TEMPORARY_REDIRECT` with `Http::STATUS_SEE_OTHER`.

[2016-03-18 23:30] #46 closed

[2016-03-18 23:30] #45 closed

[2016-03-18 23:31] RealRancor commented on #46
Grmlll, nevermind. Thought this is not related to https://github.com/owncloud/core/pull/22497 as thought thats already included in 8.2.3. But i was wrong. :-/

[2016-03-19 13:52] jancborchardt commented on #25
@v1r0x just as driveby feedback: There’s a bit too much bold in the interface. :) And also the dark blue should not be used anywhere except primary action buttons.

[2016-03-21 22:08] danielepercivaldi opened #47 "You cannot enter users/group selection if "Select..." option is already set."
If "Select..." is already set in order to enter users/group selection window you must change option and then back to "Select ..." option.

[2016-03-21 22:30] danielepercivaldi opened #48 "You cannot translate some texts"
Allthough changed in it.php and it.json, some text are not translate:
![cattura](https://cloud.githubusercontent.com/assets/8720648/13936230/8666965c-efbc-11e5-95d7-b99bcf0a54de.JPG)
![cattura](https://cloud.githubusercontent.com/assets/8720648/13936269/bc7eefc8-efbc-11e5-84a5-6fb52edacae2.JPG)
![cattura](https://cloud.githubusercontent.com/assets/8720648/13936283/d4591d62-efbc-11e5-80e3-0588b445f

[2016-03-23 11:12] v1r0x commented on #48
The js strings are (from what I read in the documentation) not translatable. But I'll update the translations for the other strings.

[2016-03-23 11:14] v1r0x commented on #47
Definitely a bad ux. Will try to fix it.

[2016-03-23 11:15] danielepercivaldi commented on #48
I’ve already done for italian editing files it.php and it.json. Do you need them?

[cid:logo1db0ac7]

Daniele Percivaldi

INTRE' S.r.l.
Via Gaslini, 2 - 20900 MONZA (MB) - ITALY
Tel. +39-039-28.45.774 - Fax +39-039-28.40.734
http://www.intre.it e-mail: d.percivaldi@intre.it

Nota informativa:
In ottemperanza della Legge 196/2003 sulla tutela dei dati personali, le informazioni contenute in questo

[2016-03-23 11:20] v1r0x commented on #48
Would be great. I'll update the english and german files and then you can create a pull request for the italian version (or send them per email or gist).

[2016-03-23 12:07] danielepercivaldi commented on #48
I think this is the better way. I'm not sure about using pull request. I cannot understand how it works ... you know, I'm not a developer.

[it.json.txt](https://github.com/v1r0x/polls/files/185911/it.json.txt)
[it.php.txt](https://github.com/v1r0x/polls/files/185912/it.php.txt)

[2016-04-10 09:31] darootler opened #49 "Multiple errors and problems"
Hi,

thank you for developing this app. It's very great and i love it.

Actually it seems that there are multiple problems, here are some error messages:

{PHP} Undefined variable: poll_id at /var/www/owncloud/apps/polls/templates/goto.tmpl.php#75 --> On poll creation

PHP Fatal error:  Call to a member function t() on a non-object in /var/www/owncloud/apps/polls/controller/pagecontroller.php on l

[2016-04-10 19:45] v1r0x commented on #49
Thanks for your kind words and reporting the errors!
Could you give some more information about your system? What OC, PHP and polls version do you use?
I think the HTTP 500 is caused by a pre-9.0 oc bug. A solution can be found in the readme or on the apps.owncloud.com page.

[2016-04-11 06:27] darootler commented on #49
Hi,

here is some information:

OS: Ubuntu 14.04.4 LTS
OC: 9.0.1
PHP: 5.5.9
polls: 0.7.0

It seems that the bug is already fixed in oc 9.0.1, i just reviewed the installed php files.

Regards
Richard

[2016-04-14 17:03] darootler commented on #49
Hi,

i am able to create a public poll on my OC installation and send you the link to it. Just if this would help you.

Regards
Richard

[2016-04-14 20:14] scroom opened #50 "Just some groups and persons available to choose"
Hi,

thanks for your great app! Just installed Polls in our schools ownCloud instance. But then I've realized that only a few groups are shown if I click on choose (it seems that these are the groups I'm member of) and as well only some random users. We're using a LDAP backend for user authentication.
For our usecase it would be great if one could choose a group (a class or course) and create a po

[2016-04-15 01:12] v1r0x commented on #49
That would be nice. Unfortunately I don't have that much time for OC atm, especially because I destroyed (sort of) my laptop. I hope I'll find some time this weekend.

[2016-04-15 01:27] v1r0x commented on #50
It is intended that you only see groups you are a member of. Thought there wouldn't be a case where you want to create polls for other groups.
Do the "random users" have something in common? We use LDAP as well and don't have any problems with it. Maybe some group or admin connection between those users.
I hope I have some time this weekend to switch from *only user groups* to *all groups*

[2016-04-15 06:24] darootler commented on #49
Hi,

i see. Here is the test poll:

https://server.marschik.biz/owncloud/index.php/apps/polls/goto/JQGBLGkTjvoJDjW3

On creation i got this error:

{PHP} Trying to get property of non-object at /var/www/owncloud/apps/polls/controller/pagecontroller

If i just visit the poll i get this error:

{PHP} Undefined variable: poll_id at /var/www/owncloud/apps/polls/templates/goto.tmpl.php#75

If i submit

[2016-04-15 07:28] scroom commented on #50
In fact for us it would be the best to have a search field (similar to the search field in ownCloud itself to share files etc.) out of which one could add groups or persons to the poll.
It would prevent the problem that only random users are loaded in the user field (around 50 but we are having more than 900 users)

[2016-04-15 12:50] v1r0x commented on #50
I'll think about it and try to find a proper solution.

[2016-04-18 12:17] #49 closed

[2016-04-18 14:42] darootler opened #53 "Problem with timezone"
Hi!

There seems to be a problem with the timezone.

I am able to reproduce the problem with the following steps:

1.) Create a poll and set date/times to let's say 20:00 o'clock:

![edf8062c-04d7-11e6-8a73-d00de9e29389](https://cloud.githubusercontent.com/assets/11849583/14608021/607e4092-0584-11e6-95b3-fce844f45765.png)

2.) Visit the poll and check date/times:

![32208cb6-04d8-11e6-8b32-9ef00b3

[2016-04-20 23:54] stonerl commented on #53
@darootler what is your timezone-setting in php.ini?

[2016-04-21 05:48] darootler commented on #53
Hi,

the php timzone is set to Europe/Vienna.

![image](https://cloud.githubusercontent.com/assets/11849583/14699138/57e3536a-0795-11e6-936a-aba7b6241351.png)

Regards
Richard

[2016-04-25 14:52] v1r0x commented on #31
@mcorteel did some code cleanup (and huge UI changes). Couldn't reproduce it on my test machine. Could you @dekuenstle test if it still happens?

[2016-04-25 15:28] mcorteel commented on #31
Yes, my changes from #52 should fix that.

[2016-04-25 18:01] darootler opened #56 "Link in polls wrong"
Hi,

here is the screenshot:

![image](https://cloud.githubusercontent.com/assets/11849583/14793561/1e9b3350-0b20-11e6-89dc-558f3e3f9212.png)

The Parameter 'overwrite.cli.url' in owncloud/config/config.php is set to 'https://server.XXXXX.biz/owncloud'

Seems that "/owncloud" is too much in the URL.

If you need more information please let me know.

Regards
Richard

[2016-04-26 13:41] josefrab opened #57 "App no longer works after upgrade from old polls app (Polls 0.6.5)"
I have created some polls in the previous version of the app (from the old maintainer).
After upgrading to your version, I get an `Internal Server Error 500` when accessing the polls app.

owncloud.log says:

[code]

[2016-04-26 14:12] v1r0x commented on #57
Old polls are not supported by the new Version. Sorry for that!

[2016-04-26 20:23] mcorteel opened #58 "Colors"
The colors of the poll header and footer are confusing. First of all, this:
![spectacle p30302](https://cloud.githubusercontent.com/assets/6164603/14832889/b3fec056-0bfc-11e6-80dd-a69643f14734.png)
The dates are white on white background.
And second, I used a darker color for the header and footer in my PR to make them stand out from the rest. Now they have the same color as the current row, which

[2016-04-26 22:21] #53 closed

[2016-04-26 22:22] v1r0x commented on #56
I'll have a look at it, thanks for the report.

[2016-04-26 22:37] v1r0x commented on #58
Yes, I forgot to fix the color of the dates.

I like the brighter color more than the dark one and in your latest commit you had the dark and the bright color which was too much in my opinion. We could use the darker color for hover.

Yes, white icon and bright background is not perfect. Maybe we could remove the icons at all and use more darker colors. Afair the colors in your PR were too dark/un

[2016-04-27 07:12] darootler opened #59 "New line in description ends up with <br/>"
Hi,

if you write multiple lines in the field "Description" the break will be shown as `<br/>` and no new line is added.

Here are some screenshot:

![image](https://cloud.githubusercontent.com/assets/11849583/14844496/11f4a4ae-0c58-11e6-8233-ee6a32152c14.png)

![image](https://cloud.githubusercontent.com/assets/11849583/14844516/2d26fa7e-0c58-11e6-96d0-1f1c2c3e084b.png)

Regards
Richard

[2016-04-27 16:50] darootler commented on #58
Is there any way for me to quick fix the color of the dates? I am currently using the app (actual branch) "productive" and cannot really use it.

Regards
Richard

[2016-04-27 17:47] mcorteel commented on #58
@darootler you can apply the patch in PR #60.

[2016-04-27 20:51] darootler commented on #58
Thanky you!

Regards
Richard

[2016-04-27 21:10] #58 closed

[2016-04-29 13:26] josefrab commented on #57
I know.
But what should I do now? Manually delete the polls table from the owncloud database?
Why doesn't this new polls app do this automatically?

[2016-04-29 17:26] v1r0x commented on #57
I never thought about a migration tool and have no experience how to do that or rather how to ship it as migration tool in OC. I'll think about a solution how to fix it.
Manually delete would be an option, of course only if you don't need your polls anymore. As a workaround you could make a `oc_polls_*` table backup until I found a solution.

[2016-05-13 19:33] quizilkend opened #62 "comment anonymously"
Hey,

I created a public poll and distributed the link to some people who do not have access to an owncloud account. However when they tried to add a comment, they were redirected to the owncloud login page.
Is it possible to add a comment anonymously?

Thank you very much,
Sammy

[2016-05-14 09:48] v1r0x commented on #62
Will add this to the todos for the next release. Thanks for your comment!

[2016-05-14 16:40] EyesO opened #63 "internal server error when opening a free text poll as extern or other user than the author"
Hello,
I want to create a public poll with free text option where people have to answer different questions.
I get an internal server error when I try to access the poll created with "free text" option when I am not logged in as author of the poll. Polls with the "date" option work fine instead.

The error message is:

These are the owncloud logs in admin panel:

Exception: {"Exception":"BadFuncti

[2016-05-24 19:15] stonerl opened #65 "App acts weird whe langugage is set to de_DE"
When the UI-Langugage is set to Deutsch(Förmlich:Sie) de_DE, the app acts weird. For example it is not possible to select groups or users when creating or editing a poll.

Also sending comments ins polls is broken.

[2016-05-24 19:58] v1r0x commented on #65
Works for me. WIth 'Deutsch (Persönlich)' and 'Deutsch (Förmlich: Sie)' as well. Are you on latest master and cleared your cache? `Ctrl+F5` was enough on my computer to reload the updated js file instead of using the cached version. Maybe you have an outdated js file.

What do you mean by "broken"?

[2016-05-24 19:59] v1r0x commented on #63
Sorry, totally forgot about this issue...Will try to reproduce it and report.

[2016-05-24 20:45] stonerl commented on #65
I observed this behavior only on ownCloud 8.2.5 On my 9.0.2 installation everything works as expected...

[2016-05-24 21:00] stonerl commented on #65
Weird now it works. I had to clear the assets.

[2016-05-24 21:00] #65 closed

[2016-05-24 21:17] stonerl opened #67 "Only show users from Group"
When creating a new poll the app currently shows all users and not only the users which are part of the creators group. E.g:

Group1: User 1, User 2
Group2: User 2, User 3

When User 1 creates a poll, only Group 1 is listed but all Users. I don't think that it should be like this. With the current behavior all Users of the server are exposed to the creator. The app should respect the option `Restr

[2016-05-24 21:29] v1r0x commented on #65
Glad to hear it works!

[2016-05-24 21:30] #56 closed

[2016-05-24 21:35] v1r0x commented on #38
I'll add this to the TODO for the next release, together with #62

[2016-05-24 21:39] v1r0x commented on #67
You are right. Will tweak this. Either restrict users to users of groups the current user is member of or try to get users based on the share settings (in the admin panel).

[2016-05-26 17:55] EyesO commented on #63
This works fine now, great! Thank you.
But commenting doesn't work right. If I write a comment and push the save button the website directs me to the main page and doesn't save the comment.

[2016-05-26 18:31] v1r0x commented on #63
Does this happen only in text polls or date polls as well?
I'll close this issue now, please open a new issue for the comment problems.

[2016-05-26 18:32] #63 closed

[2016-05-27 19:20] bodo1987 commented on #67
As already mentioned in my pull request, I proposed a solution which only shows users of groups the current user is member of. For me, this seems to be a logic solution. However, I am not sure if this is the intended behavior in all cases. For instance, if you are admin and normal users don't have a group, you probably would like to have them in your list as well.
During writing of this comment, I

[2016-05-27 20:06] bodo1987 commented on #67
OK .... #68 shows always users without any group now

Looks better for me

RFC

[2016-05-31 16:21] v1r0x commented on #67
Is this fixed for you @stonerl ?

[2016-05-31 16:22] stonerl commented on #67
yes

[2016-05-31 16:22] #67 closed

[2016-05-31 16:22] v1r0x commented on #50
@scroom It's been a while, but thanks to @bodo1987 the user/group pick list has been cleaned up. Does your problem still exist or has it been fixed with the new version? (Check out current master to see the result)

[2016-06-05 12:16] EyesO commented on #63
I just saw there is already an issue #62 for this.

[2016-06-09 17:50] Mannshoch opened #70 "No view is as it should."
my creating of a poll (as it should look like)
![2016-06-09 19_42_18-umfragen - owncloud](https://cloud.githubusercontent.com/assets/7795891/15940184/21e3dbe2-2e7b-11e6-8ded-00b7764abf11.png)

what I see if I open the Poll - (hat to merge three printscreens)
![umfragen - owncloud](https://cloud.githubusercontent.com/assets/7795891/15940201/38ffb620-2e7b-11e6-8423-56019d94e082.png)

What the poll t

[2016-06-09 19:20] joergmschulz opened #71 "Ver 0.7.1 does not save votes for free text / date votes are saved correctl"
While date votes work perfectly, free text votes can be edited / voted on, but will not be saved:

![image](https://cloud.githubusercontent.com/assets/6523646/15943085/9c825660-2e87-11e6-998e-0fe260b9e656.png)

a quick look at the database shows:
SELECT * FROM `oc_polls_particip_text` WHERE text is NULL LIMIT 0, 25 ;

id | poll_id | text | user_id | type
------------ | ------------- | ------------

[2016-06-10 07:56] v1r0x commented on #71
Maybe it's an apache error (or whatever your server software is). For apache the log files should be in `/var/log/apache2/error.log`
I'll have a look at it, if I don't find anything a link would be good, but I'll try it on my test machine first.
Thanks for the report!

[2016-06-10 07:58] v1r0x commented on #70
The screenshot looks like you submitted the dates 4 times. Maybe there were some errors or something else which leads to these multiple lines.
Could you create a new poll and check if this still exists?

[2016-06-10 10:01] Mannshoch commented on #70
You are right!
If I create a pol the Overview is right. But if I go to edit I see this.
![pol](https://cloud.githubusercontent.com/assets/7795891/15961053/f67d5658-2f02-11e6-873e-bf16ca366f45.png)
If I edit this error the times get duplicated.

[2016-06-10 10:05] v1r0x commented on #70
Strange...I'll try to reproduce this bug and hopefully can provide a fix

[2016-06-24 17:32] bodo1987 opened #72 "Style selection"
Hi everyone,

I recently suggested a different style (#69) which was according to myself and all other peoples that I showed it to, a clearer one than the current default. Apparently, v1r0x didn't like it and he closed the PR very quickly.
First of all, I would like to ask v1r0x to don't close PRs to fast. The originator should always have the option to defend the idea and maybe it can be changed

[2016-06-25 23:08] v1r0x commented on #72
Hi Bodo,

first of all: I really appreciate any help!
But if a PR or any other help doesn't seem to improve anything or is something I don't like or think is nothing I wanted the app to be, I'll close it.
In your case I didn't see the need for UI modifications and IMHO your changes were less clean and nice than the current one. Thus I decided to close the PR. If you think this was rude or too fast

[2016-07-19 11:25] jaeger-sb commented on #71
After having a fluffy view on the source code I suppose to found cause of that error on vote.js.
On line 37:
`newUserDates.push(parseInt($(this).attr('id')));`
a string cannot be parsed into an int value by using using "free text" option. That's why the "text" field in the database is always null. So I would reccomment to fix line 37 it in a way like:
` var userDate = $(this).attr('id');
	    if(i

[2016-07-19 12:17] v1r0x commented on #71
Thanks for looking into it!
Unfortunately, I currently don't have that much time for the app. I'll think I can do something this weekend.

@jaeger-sb If you want you can create a PR with your fix.

[2016-07-20 13:13] scroom commented on #50
Hey!

Sorry for responding so late. My problem is solved partially. No I can search for every registered user. But still I can just choose the groups I'm in. Would be great for our use case (a school) if we could register poll for classes (teachers are not part of the class und courses groups).

[2016-07-26 13:35] kosli opened #73 "Doesn't work after upgrade to NextCloud 9.0.53"
I migrated my OwnCloud 9.0.4 to NextCloud 9.0.53 today and after enabling the polls plugin again, it doesn't work. When switching to the Polls app i get the following:

` {"Exception":"Symfony\\Component\\Routing\\Exception\\InvalidParameterException","Message":"Parameter \"hash\" for route \"polls.page.goto_poll\" must match \"[^\/]++\" (\"\" given) to generate a corresponding URL.","Code":0,"Tra

[2016-07-26 13:52] v1r0x commented on #73
I think we had this bug in the past. Does this occur on the summary page or somewhere else?
Looks like there is something wrong with the hashes in the database. Could you have a look at the oc_polls_* tables and check if there is a `\` in the hash column?

[2016-07-26 14:11] kosli commented on #73
this happens when going straight on the "polls" tile in the menu.
there is only one poll in oc_polls_events and that has a "NULL" hash value. but i think the poll has been deleted, as all other entries have a "poll_id" of "NULL" too. i'll just empty the tables and see if it works.

[2016-07-26 14:14] kosli commented on #73
truncating the polls tables (as there was no "valid" poll anymore) helped to solve the problem. i can create and delete new polls now without problems. closing this issue. thanks for the lp

[2016-07-26 14:14] #73 closed

[2016-07-26 14:34] v1r0x commented on #73
Glad to hear it's fixed. You're welcome.

[2016-07-26 14:46] kosli commented on #73
and another owncloud instance that i migrated to nextcloud hasn't had an issue either with the polls. the existing polls work as expected.

[2016-08-05 20:36] joergmschulz opened #74 "set max version to newer OC"
Just activated the polls on my nextcloud  beta 10, works like on OC 9 and NC 9.52 / text polls not possible, but date polls seem to work alright.
So, version might be bumped....

[2016-08-05 20:50] joergmschulz commented on #71
took the freedom to copy the change of @jaeger-sb . To my knowledge, this helps and doesn't break anything. @v1r0x can you approve the PR?

[2016-08-05 20:50] #71 closed

[2016-08-06 09:33] v1r0x commented on #74
I switched from oc to nc and I'm still on 9.0.52 I think. Don't know if it still works in OC 9.1. Do you have the possibility to check this?
If someone can confirm that it works, I'll bump the max-version to 9.1

[2016-08-06 09:34] v1r0x commented on #72
I'll close this for now, since there hasn't been any feedback. If you want to answer or re-open it: Feel free to do so!

[2016-08-06 09:34] #72 closed

[2016-08-06 09:43] v1r0x commented on #50
So teachers are in different groups and no admins?
I think your use case is a very special one, thus I think it would be _wrong_ to enable this feature for all users. Nevertheless it would be good to find a solution for your particular problem.
I think we shouldn't expose all groups to all users or only expose them depending on the following admin settings:
- Allow sharing with groups
- Restrict u

[2016-08-08 19:20] joergmschulz commented on #74
Well, my most recent OC is 9.0; polls app works fine on NC 10 beta when the PR 76 is applied.

[2016-08-16 12:18] scroom commented on #50
Yes teachers and students are in different groups (in fact the situation in real life is emulated - teachers are not part of classes or courses but they are teaching them).

So your solution seems to fit this usecase. Would be really cool if we could use the polls app for a lot of use cases in the whole school (nearly 900 users).

[2016-08-22 17:21] #74 closed

[2016-08-22 18:17] v1r0x commented on #50
Found this [method(s)](https://doc.owncloud.org/api/classes/OCP.Share.IManager.html#method_allowGroupSharing) in the API. Looks like I can check for the first two points from the list, but I couldn't find anything related to "exclude groups from sharing". But looks promising. :)

[2016-08-23 14:55] scroom commented on #50
Cool!

[2016-08-26 10:02] Juliku commented on #33
I'd like to expand this feature request to timespan. For example to be able to set a whole day or more consecutive days to be voted. Thanks

[2016-08-28 12:22] danielepercivaldi opened #82 ""user_" / "group_" prefix"
When you define user access for a poll, "user_" / "group_" prefix appears in list.
![cattura](https://cloud.githubusercontent.com/assets/8720648/18033652/f7f90d2c-6d2a-11e6-99ae-ee7bfa365085.JPG)

To Dos
- [X] Create/Edit page
- [ ] Main page

[2016-08-28 12:28] #47 closed

[2016-08-28 12:29] v1r0x commented on #82
That's the intended behaviour. We could discuss another representation (for a later release). Any ideas?

[2016-08-28 13:25] danielepercivaldi commented on #82
Hi!
I think:
1. nothing for users
2. + for groups (like outlook distribution lists)

Well, it's just a suggestion.

Thanks.

[2016-08-28 14:11] danielepercivaldi commented on #38
Hi!
It seems that the owner of the poll is able to view all the voting people and the other ones see only the description Partecipent # (french?). Comments are not anonymous.

[2016-08-28 15:22] v1r0x commented on #38
Yes, the owner is able to see all participants. All others only see 'Participant X'. Participent is just a typo ;)
Comments are currently not anonymous, because I want to merge #83 first (avoid merge conflicts). If you're - beside non-anonymous - happy with the current PR, I'll merge it and fix non-anonymous commments as soon as #83 has been merged.

[2016-08-28 15:27] danielepercivaldi commented on #38
Ok. I'm happy with it.

Thanks.

[2016-08-28 20:25] #38 closed

[2016-08-29 22:16] quizilkend commented on #62
Fixed with https://github.com/v1r0x/polls/pull/83

[2016-08-29 22:16] #62 closed

[2016-08-29 22:55] v1r0x opened #85 "Make comments in anonymous poll anonymous as well"

[2016-10-08 13:41] scroom opened #86 "Link for public polls incorrect"
Today I've tried the first time to create a public poll with the polls app and discovered a bug. The link which is created to share it with others is incorrect. In my case (tested on two servers) the created link looked like this

<code>https://example.com/owncloud//owncloud/index.php/apps/polls/poll/79587hdkhd3zrh83</code>

it should look like this:

<code>https://example.com/owncloud/index.php/a

[2016-10-08 22:39] v1r0x commented on #86
This is weird, it should has been fixed with #64
But I'll have a look at it.

[2016-10-10 21:31] scroom opened #87 "UI: List of chosen users should have buttons to delete from list"
As already mentioned here: https://github.com/v1r0x/polls/pull/80 i would be great to have something like a red cross to delete a user from the list of chosen users for a poll. Otherwise it might be unclear how to delete a user from a list (you have to click on the username up to now which is isn't intuitive).

[2016-10-11 08:55] v1r0x commented on #86
I could not reproduce it. Link looks good (`https://domain.tld/index.php/apps/polls/poll/....`).
Which version of oc/nc do you use? And what branch/version of polls do you use?

[2016-10-13 07:28] scroom commented on #86
I'm using Nextcloud 10.0.1 (stable) and the enh-group-display branch

[2016-10-13 07:29] v1r0x commented on #86
Could you try the master branch and if it still doesn't work the latest release?

[2016-10-13 07:49] scroom commented on #86
Master needed minutes to load when I wanted to open a new poll (maybe you haven't merged here the changes made in the enh-group-display branch?) and then produced an internal server error when I wanted to finish the opening of the new poll. Here comes the log:

[code]

[2016-10-13 08:17] v1r0x commented on #86
Yes, the changes from the enh-group-display have not been merged. Will do it in the next days.

The database from master branch is missing a column in the polls table (`is_anonymous`). You could let the app add it by increasing the app version in `appinfo/info.xml`, but I think this is unnecessary, because the code change is already in the enc-group-display. I'll create a new PR after #80 has been

[2016-10-20 08:35] quizilkend opened #88 "Creating a poll leads to Internal Server Error"
Hey,

I upgraded to NC10.0.1 and the polls app was gone. So I installed it again and now when I create a poll I get an internal server error.

[code]
I do find nothing in the logs.

Do you have any idea, what is wrong?

[2016-10-20 09:53] v1r0x commented on #88
Which version did you have before the upgrade and which now?
Maybe this is related to a column in the database I added in one of the PR branches or in current master, which is now missing in your new version.

[2016-10-20 10:10] quizilkend commented on #88
I now have 0.7.1 and I don't know which version I had before.

I don't need the polls I created before. Could deleting the "app data" solve the problem?

[2016-10-20 11:14] v1r0x commented on #88
you could drop all tables staring with `oc_poll_`. Don't know if there is a polls entry in one of the nc-core tables.
First, you could try to increase the app version in the `appinfo/info.xml` file and set it to something like `0.7.1.1` and force a DB upgrade.

[2016-10-21 13:58] quizilkend commented on #88
Okay, you mean I would change the app version and then run occ upgrade?

[2016-10-21 14:16] v1r0x commented on #88
Exactly

[2016-10-21 14:27] quizilkend commented on #88
Then I get:
Nextcloud is already latest version

[2016-10-21 14:31] v1r0x commented on #88
Strange...I'll try to upload a new version this weekend. You could then try this version, maybe it will work again.
But do you still have no errors in your nextcloud log? (If you switched from oc to nc, don't forget to look at `data/nextcloud.log` instead of `data/owncloud.log`. Happened to me :wink: )

[2016-10-21 15:02] quizilkend commented on #88
Hey,
actually I had a problem with logging, thanks for the hint.
Now I do get an error in the logs.

It's quite long and I don't know exactly what it means. But there seems to be a missing column...

`{"reqId":"WAoszn8AAQEAAFA-dMoAAAAJ","remoteAddr":"46.5.46.67","app":"index","message":"Exception: {\"Exception\":\"Doctrine\\\\DBAL\\\\Exception\\\\InvalidFieldNameException\",\"Message\":\"An except

[2016-10-21 17:09] v1r0x commented on #88
I had the same problem. A db upgrade worked for me. You could try to set the version to something higher, e.g. `0.7.1.9`.

[2016-10-21 23:03] #50 closed

[2016-10-21 23:05] v1r0x commented on #86
I switched the milestone, since this is no critical bug and I think it is time to finally release 0.7.2.

[2016-10-21 23:29] #85 closed

[2016-10-21 23:29] #70 closed

[2016-10-26 14:18] #87 closed

[2016-10-26 17:02] RealRancor opened #91 ""App can't be installed because the version in info.xml/version is not the same as the version reported from the app store""
Hi,

seems you forgot to update the appinfo/info.xml with version 0.7.2:

https://github.com/v1r0x/polls/blob/0.7.2/appinfo/info.xml#L6

Btw. thanks for still updating / working on this app.

[2016-10-26 22:24] nextgen-networks opened #92 "UI/Design broken in release 0.7.2"
Installed new Version 0.7.2 - edited the version string in info.xml to activate the app.

Afterwards the design seemed to be gone - looks somewhat crappy.

Thanks for maintaining this app!

[2016-10-27 08:11] v1r0x commented on #91
Happens every release... :smile: Thanks for the info

[2016-10-27 08:12] #91 closed

[2016-10-27 08:19] v1r0x commented on #92
Did you try to force a reload with `Ctrl+F5` (at least in firefox)?
If this doesn't work, could you please provide a log file and your oc/nc version?

[2016-10-27 08:26] nextgen-networks commented on #92
I'll test it with your updated release and send an feedback.

My test-scenario:
- Apache Webserver
- PHP 7.0.12
- Redis cache  (flushed cache - to prevent any side effects caused from it)
- Chrome Browser 54.0.2840.71 (with cache flushed also)

[2016-10-27 08:30] v1r0x opened #94 "Remove unused share manager"
The share manager has been used to get users/groups, but has been replaced by the `search()` method of the user/group manager. Thus it can be removed and 9.0 is no longer the min-version.

[2016-10-27 08:30] nextgen-networks commented on #92
OK after rerelease all problems are gone - UI works as expected.
This issue can be closed.

Thanks for your cool app!

[2016-10-27 08:36] #94 closed

[2016-10-27 08:37] v1r0x commented on #92
Great!

Thanks :smiley:

[2016-10-27 08:37] #92 closed

[2016-10-27 08:39] RealRancor commented on #92
Confirmed that this issue didn't shown up on 0.7.2 with current oC 9.0.5

[2016-10-27 08:39] RealRancor commented on #91
Thanks, works now as expected :+1:

[2016-10-27 08:54] nextgen-networks opened #96 "continuous reload for public links"
Polls Version: 0.7.2.1
NC Version: 10.0.1

Continuous reload does occur if polls will be accessed by public link without logon/user account.

Browser: **Chrome 54.0.2840.71**
![2016-10-27-polls-reload-error_chrome](https://cloud.githubusercontent.com/assets/21206978/19760812/a7dce736-9c33-11e6-98e6-1d1ebef57899.jpg)

Browser: **MS Edge**
![2016-10-27-polls-reload-error_edge](https://cloud.githubus

[2016-10-27 10:37] v1r0x commented on #96
I'll have a look at it this weekend. Are your screenshots from different browsers? Does this occur on all browsers? Or is there anything in the screenshots I missed? :smile:

[2016-10-27 11:10] nextgen-networks commented on #96
@v1r0x have updated original post with information about the different browser engines.

Thanks for your support!

[2016-10-27 11:42] v1r0x commented on #96
Does this only happen in IE11? Or in Edge/Chrome as well?

[2016-10-27 11:53] poVoq opened #97 "Time zone issue?"
With 0.7.2 there seems to be a time zone issue.

I select when creating a event poll times 9:00 10:00 etc. but in the actual poll they show up as 1:00, 2:00 etc.

Our server has a timezone set of UTC+8 (Manila) so it is likely that the app doesn't take this into account properly.

This might be related to some recent timezone issues in Owncloud/nextcloud also, but thanks for looking into it.

[2016-10-27 12:05] poVoq opened #98 "Additional features: Resource usage?"
Probably not really a focus of this tool, but it seems similar enough to maybe be added:

Multi-user resource poll, so for example a room, or projector or car etc. Were every user can submit their wish schedule similar to the the current event setup, and then it is easy to settle on a common schedule that respects most of the wishes.

The resource poll creator can than validate a final schedule an

[2016-10-27 12:08] poVoq opened #99 "Additional preference setting?"
Right now you can cycle through Red, green and yellow (unavailable, available & unsure) for finding events, but maybe there could be a fourth setting like "main preference" or "priority"?

[2016-10-27 12:48] nextgen-networks commented on #96
:-) it does happen on all the Browser Versions mentioned above.
I tried several other client computer in the same and in remote/other networks and all behave the same way.

The error message in the top is an indicator for the continuous reload problem.
-> translated: "Problem while loading the website. Website will be reloaded in 5 seconds."

[2016-10-27 12:53] v1r0x commented on #96
I'm from germany, but thanks :wink:
I thought you refer to the "Waiting for" in IE11.

Is there anything in the oc/nc logfile? And does it happen for all (e.g. new) public polls?

[2016-10-27 15:03] v1r0x commented on #97
I'll have a look at it this weekend, thanks for the report

[2016-10-27 15:08] v1r0x commented on #99
The idea of yellow as color was not unsure exactly, but more "if there is no other option this one is ok, but it is not my preferred option". So, in my interpretation they would be red = nope, yellow = ok, but not my favorite, green = this on is ok.
But I think there are several different interpretations. Thus I think it would be good to (re-)add some icons for better visualization and another col

[2016-10-27 15:15] v1r0x commented on #98
I like the idea, but I'm not sure how easy it really is to implement it.
I think it is easy to implement the front-end, but I don't know how easy it is to compute the schedule. There are several parameters you have to consider. Maybe short timespans are preferred over longer ones or if one user already has a slot for one of the resources they are not prioritized for another resource or later times

[2016-10-27 15:52] v1r0x commented on #86
0.7.2 has been released. Do you still have the wrong link?

[2016-10-27 20:56] nextgen-networks commented on #96
... ok - there has no log entry created while doing the following actions:
- delete old poll
- setup new poll (public)
- open public poll as anonymous/not logged in user and faced the reload problem

As there does not exist any "old" poll i've no possibility to check this scenario.

Thanks for your investigation!

[2016-10-27 23:15] v1r0x commented on #96
Did you check `owncloud.log` and `nextcloud.log` (If you've switched from oc to nc)?

I tested it with firefox and had no problems. I'll do some tests with chrome/ie and maybe there is something wrong...:)

[2016-10-27 23:59] uyekt commented on #97
Same Problem here. I entered a poll for 19:30 and 19:45 but it shows up as 18:30 and 18:45.
It is saved in the db in the table polls_dts with 18:30 and 18:45.
Our server has a timezone set of UTC+2 (Berlin).
Hope it might help.

[2016-10-28 01:12] poVoq commented on #98
I don't think there is a need to automatically calculate a schedule. Specific preferences  for length etc. can be mentioned in the comments.

But I agree, even a manual validation is also slightly difficult to set up. If the time is ok, maybe there could be just a small check-mark for the poll-creator to validate it (i.e. move a schedule item from tentatively to confirmed), but schedule conflict r

[2016-10-28 08:18] scroom commented on #86
Yes, still the same. If I change the link manually in the browser I can access the poll.

[2016-10-28 08:29] scroom opened #100 "Anonymous has no effect for polls admin"
If I use the Anonymous-mode I've expected that I, as the one who created the poll, couldn't see who voted for what. But the opposite is the case: I can see who voted for what.

Maybe it would be a good idea to have an advanced Anonymous-mode. So no-one could be blamed for its choices.

[2016-10-28 08:35] v1r0x commented on #100
The idea behind anonymous polls was to have to ability that no user could see the other's names (e.g. for exam schedules), but yes, a completely anonymous poll would be a good option, too.
I'll add it to the milestone for the next release.

[2016-10-28 08:39] scroom opened #101 "No difference between hidden and open poll?"
In fact I tried to find out what the difference between hidden and open polls are, but have found none.

For both cases users can access the poll if they know the exact link and registered users can see both of them as well (there is as well no difference to the case registered users)

[2016-10-28 08:40] v1r0x commented on #86
This is very weird. Neither on my test machine nor on my productive server I have this problem. Maybe there is another method I could use to generate the URL. I'll have a look at the API and create a PR/branch if I find something.

Do you have any other apps where (correct) links are present? Looking at their code could be helpful.

[2016-10-28 08:44] scroom commented on #86
It is working with Files, calendar, contacts.

[2016-10-28 09:25] nextgen-networks commented on #96
Only the nextcloud.log does exist and by now only with three share/dav relevant entries and four more from Rainloop webmail - so no issues documented by the polls plugin.

[2016-10-28 09:48] v1r0x commented on #96
This is very weird. Is there anything in the browser's javascript console?

[2016-10-28 09:50] v1r0x commented on #101
The difference should be that hidden polls are only visible for the user who created it or participated. Other users should not see them on the summary page.

Do registered users see hidden polls on their summary page even if they are not the owner and haven't participated in it?

[2016-10-28 10:21] poVoq commented on #99
Blue could be for priority/preference? Icon could be just a simple "!" or a "P"? but the latter doesn't translate well to other languages.

[2016-11-01 11:08] v1r0x commented on #97
I had a look at the code and created some polls on my test machine and I couldn't find a bug.
[This ](https://github.com/v1r0x/polls/blob/master/controller/pagecontroller.php#L343-L353) is the part in the code, where I add the user's timezone to the dates (after they created the poll), if no timezone is set, UTC is used.
From what I found in issues in core, it is not possible for users to modify t

[2016-11-01 11:23] poVoq commented on #97
This might be related: https://forum.owncloud.org/viewtopic.php?t=22616
Will check tomorrow if I can alter the time-zone of our Nextcloud.

[2016-11-01 11:39] v1r0x commented on #86
Couldn't find anything related to your issue. The other apps use the `linkToRouteAbsolute()` method as well. Maybe it's a "wrong" setting for your server's root dir or something like that? But still weird, that it works for a couple of apps, but not for another.
You could try to replace https://github.com/v1r0x/polls/blob/master/templates/goto.tmpl.php#L73 with
`$pollUrl = $urlGenerator->getAbsolu

[2016-11-01 13:03] scroom commented on #101
Yes registered users can see hidden polls on their summary page even if they are not the owner and haven't participated.

[2016-11-01 13:09] scroom commented on #86
I've changed as you mentioned but it didn't change the wrong URL. Maybe something about my overwrite.cli.url in the config.php of OC?

[2016-11-01 15:44] v1r0x commented on #86
Could be the problem. Unfortunately, the URLGenerator only has the `linkToRoute()` and `linkToRouteAbsolute()` methods. I'll have a look at the API if there is another possibility to create URLs.

Do you get the correct URL if you set `overwrite.cli.url` to `https://example.com`?

[2016-11-02 00:43] poVoq commented on #97
Setting the default timezone in the /lib/base.php seems to have fixed it. Maybe something to mention in the description of the app? However since this setting is nowhere exposed in the Owncloud/Nextcloud GUI, nor part of the normal installation process it seems a bit like a workaround and not really intended like that.

[2016-11-02 09:43] v1r0x commented on #97
Have you tried to set it for a specific user mentioned in my comment?
Setting it in `/lib/base.php` modifies the server's timezone. Thus, you only get correct results for users which are in the same timezone (as the server).
I think the main problem is, that oc/nc provides the user's timezone as value in the database, but the user has no chance to modify it. But you are right, if it can only be se

[2016-11-02 10:06] poVoq commented on #97
I don't want to mess around with the database in our production system and since we don't have users outside this timezone it's not an issue for us. But you are right, it isn't really an option for all use-cases.

Wouldn't it be possible to do the time conversion client side only? I.e. server side everything is stored as UTC as that's the default settings of Owncloud that apparently isn't supposed

[2016-11-02 11:00] v1r0x commented on #97
I thought this would lead to wrong results, but after thinking about it, it seems like a good solution.
I'll add this as todo for the next release.
Thanks!

[2016-11-03 10:39] scroom commented on #86
The changing of the overwrite.cli.url had no effect.

[2016-11-03 13:56] nextgen-networks commented on #96
@v1r0x:
Sorry for the delay - here is what chromes console told me:

![2016-11-03_polls_continuous_reload_console-output](https://cloud.githubusercontent.com/assets/21206978/19968566/6d641942-a1d5-11e6-988b-561b72448447.jpg)

[2016-11-03 14:05] v1r0x commented on #96
Does this only happen in the polls app? Because the error in the console is caused by the apporder app, but maybe this error is unrelated to the reload error.

[2016-11-03 14:15] nextgen-networks commented on #96
YOU ARE MY MAN! Thanks for the the sharp view to the log!
It's definitely related to app order and i think it's caused by it.

Workaround:
deactivate AppOrder

Possible solution:
Allow non authenticated users the access to AppOrder to avoid reload.

[2016-11-03 14:19] v1r0x commented on #96
Glad it works now :)

Best would be to open an issue at the apporder repo. Don't know if there is something I could do about it.

[2016-11-03 14:22] nextgen-networks commented on #96
... jipp - typing the latest infos to an new ticket already ;-)

Thanks for your time and patience!

... and for your app!!!

[2016-11-04 00:45] poVoq opened #102 "Admin users can not delete/edit polls created by other users"
I think it would be good if users in the "admin" group would be able to see, delete and edit polls, at least the public ones.

[2016-11-05 15:01] v1r0x commented on #102
They should definitely not see/edit/delete private polls of other users. Allow editing/deleting public polls is something to think about for a later release. I will add it to the list.

[2016-11-05 15:01] v1r0x commented on #101
Seems to be a bug, is on the list for the next release.

[2016-11-05 15:05] v1r0x commented on #98
I added it to the backlog milestone, since this is definitely a cool feature, but not that important and most of all I _currently_ don't have a good idea how to implement it 😉

[2016-11-05 15:09] v1r0x commented on #86
Bummer...Maybe something in the apache/nginx/... config?

[2016-11-06 13:04] juliushaertl commented on #96
@v1r0x I think this should be fixed in the polls app, as other public pages (like in the gallery app) do not produce this error.

From https://github.com/juliushaertl/apporder/issues/24

The current public page of the polls app also shows elements like the user menu on the left, which should not be visible for non logged in users.

[2016-11-06 21:33] v1r0x commented on #96
Thanks for your reply and your suggestion. Will test your solution. Thanks!

[2016-11-10 10:57] amittel opened #103 "Update UI"
Hi!
Installed it yesterday and I like the polls.
But the UI is missing the sidebar and therefore looks a little out of place in Nextcloud.
I looked at the [Documentation](https://docs.nextcloud.com/server/9/developer_manual/app/css.html#standard-layout) and found the basic structure.

[2016-11-11 14:07] amittel commented on #103
I started a little bit in my [Branch](https://github.com/amittel/polls/tree/Update-UI)

![unbenannt](https://cloud.githubusercontent.com/assets/822396/20217490/71741810-a820-11e6-8fd4-66df0bf5717e.png)
![unbenannt1](https://cloud.githubusercontent.com/assets/822396/20217496/75eceb60-a820-11e6-8c26-c6e361d50e7c.png)

[2016-11-12 15:22] v1r0x commented on #103
Thanks, looks very good!
You could create a PR and we could discuss further options there :)

[2016-11-15 09:24] nextgen-networks commented on #96
reopen based on feedback of @juliushaertl

[2016-11-16 01:10] v1r0x commented on #96
@juliushaertl I added `'guest'` as parameter after the parameter array `return new TemplateResponse('polls', 'goto.tmpl', [], 'guest');` but the result looks really weird.
![guest-poll](https://cloud.githubusercontent.com/assets/9248714/20330808/a1d54a9a-aba1-11e6-8de8-92471f8ce5c6.png)
Any idea what's wrong?

[2016-11-16 18:53] juliushaertl commented on #96
@v1r0x Ok, it should be 'base' not 'guest', sorry for the wrong information.

After testing, i saw that this will render the public pages, but will not show the top bar with logo.
Other apps with public pages, like the gallery app or even the shipped files_sharing for example add a custom template with the header bar.

https://github.com/nextcloud/gallery/blob/master/templates/public.php#L49-L69
h

[2016-11-19 15:33] scroom commented on #86
Hm, I have no idea. As everythin else is working as expected I don't think so (In fact I've done nothing special: Installed Apache from distribution channel (Ubuntu), just configured encryption, installed owncloud via the debs hosted on opensuse and tried as well to install Nextcloud following the official installation instructions. Both OC an NC worked fine. Just polls created these false links)

[2016-11-20 00:00] #101 closed

[2016-11-20 00:24] v1r0x commented on #86
Unfortunately, I don't have an idea, maybe someone from nc can help? @BernhardPosselt ? :)

[2016-11-20 08:08] BernhardPosselt commented on #86
The CLI URL setting on my instance does not contain the domain

[2016-11-20 08:10] BernhardPosselt commented on #86
But that setting is only used when you run CLI commands. Are you sure the URL is not persisted somewhere (database/opcode cache)?

[2016-11-20 09:07] BernhardPosselt commented on #86
You can clear the cache by restarting your webserver fyi

[2016-11-20 10:49] scroom commented on #86
@BernhardPosselt I've restarted the webserver several times (its our test-server). Maybe it is something about a rewrite for SSL? But as mentioned before: the creation of links of core parts of NC is working as expected.

[2016-11-22 10:13] satishsingh5816 opened #107 "app not working"
nothing selected
click on cells to turn them green owncloud

[2016-11-24 16:45] satishsingh5816 commented on #107
this error

https://drive.google.com/file/d/0B4AaV7HNky5uYm1NVW5XVHJZekE/view?usp=sharing

please help me

[2016-12-05 15:10] Ludovicis opened #108 "Translation - FR or IT"
Hello,

Thanks v1r0x for this application.

As this problem : https://github.com/v1r0x/polls/issues/48

I want translate your application in french but i can't...

I have also create fr.json and fr.php but this modification don't work.

[fr.php.txt](https://github.com/v1r0x/polls/files/631452/fr.php.txt)

[fr.json.txt](https://github.com/v1r0x/polls/files/631449/fr.json.txt)

Can you help me pleas

[2016-12-07 09:45] v1r0x commented on #108
Hi @Ludovicis ,
thanks for helping translate this app. Really appreciate it!
Here in github they are named `fr.<format>.txt`. You have to remove the `.txt`.
But you could create a pull request with these two new files and then we could add french as another language :)

[2016-12-17 11:14] xf- opened #111 "Compatibility to Nextcloud 11"
Info from Nextcloud

[2016-12-20 09:29] Ludovicis commented on #108
Hi v1r0x,

Have you seen my pull request ?
Can you update your poll app, please ?
Thanks,

[2016-12-20 10:08] v1r0x commented on #108
Hi Ludovicis,

Yes, I've seen it. Thanks!

There are two things keeping me from merging it.
1. It is based on a very old branch and your files are not part of the PR, they are only present in your comment
2. I'm very busy at the moment. I hope I have some free time after christmas.

It's on my list for the next release :smiley:

[2017-01-05 14:45] Ludovicis commented on #108
Hi v1r0x,

Maybe someone can help you to create the next release ?
I am not developper but if i can help.

Thanks,

[2017-01-07 14:43] v1r0x commented on #111
Could you confirm that this has been fixed on master (#109)? @xf-

[2017-01-07 14:49] v1r0x commented on #107
Sorry for my late reply. Still have this error?
It looks like you have not selected a date and time in the calendar on the right side. You need to add dates and then you have several rectangles with red background and a cross sign. If you click on them they turn green and get a checkmark icon. Then you should be able to create a poll.

[2017-01-07 15:17] scroom opened #113 "Polls is not in the Nextcloud-App-Store"
As described above. At the moment it is not possible to install polls directly out of the Nexcloud-App-Store. Here are the NC-instructions how to publish an app at the App-Store:

https://nextcloudappstore.readthedocs.io/en/latest/developer.html#publishing-apps-on-the-app-store

[2017-01-24 14:48] happyreacer commented on #113
how looks it?

[2017-02-10 10:37] happyreacer commented on #113
@v1r0x is it a problem?

[2017-02-13 08:33] v1r0x commented on #113
Sorry for the late response. My plan was to publish the app to the nc appstore with the next release. I'm currently very busy with my job, so I don't know when I can work on the open issues. But soon :wink:

[2017-02-18 16:15] joergmschulz opened #114 "Text polls: handle duplicate entries"
When, in text polls, an entry is duplicate, a user who selects one of the duplicates automatically selects the other instance as well.
Example:
create a 'bring stuff for the coffee invitation' poll.
Enter things like

[code]

You'll see that `tea` is duplicate.
The intended effect is that two users can decide to bring tea independently - but in reality, both entries can only be selected together.

[2017-02-26 11:17] #108 closed

[2017-02-26 11:39] v1r0x commented on #99
Sorry for the long break. I thought about this feature and decided to keep the current solution. All major polls apps (at least the ones I know 😉 ) have 2 or 3 different vote types. But I'll keep this issue open so other people with the same request can add a comment or 👍 on the OP.

[2017-02-28 13:22] #100 closed

[2017-04-18 20:25] bogie opened #117 "English translation has js errors"
en.js is showing a lot of console errors in chrome, I fixed it manually:

[code]

[2017-04-18 21:31] bogie opened #118 "Nextcloud 11.0.2 issues, fix inside"
I am currently on Nextcloud 11.0.2, php 7.1.3 and forked cdb7c4c74bc822c6536745a964287caca0f81854 creating polls works without any issues however when viewing the created poll there are several errors showing.

I started off with var_dump($dates) in goto.tmpl showing an empty array, I traced the error back to your use of getType() === '0' as getType() returns an integer: (0 === '0')  will return f

[2017-04-19 08:45] v1r0x commented on #118
Thanks for your report! Looks like the changes something in NC. I had to check `getType() === '0'` because `getType()` returned an integer. You can create a PR if you want. Then I can merge your fix.

[2017-04-19 11:21] bogie commented on #118
'0' is not an integer, in php it is a string! Therefore it depends what type getType() returns.

In nc 11.0.2 it returns an integer, therefore integer === string will return false!
What does it return in oc? If it returns a string, then do you want to be compatible to oc?
Do you need to do a identical type comparison? If oc returns a string and nc returns an integer then maybe getType() == '0' is

[2017-04-19 11:29] v1r0x commented on #118
Sorry, I meant that `getType()` returned a string instead of an integer. Thus I had to compare it to `'0'` instead of `0`.

In oc it definitely returns a string. I think in nc 10 it's string as well. I switched from `==` to `===` because the oc app check tool recommended it. But if nc11 returns an integer and nc10/oc returns a string I'd go with `==`

[2017-04-19 11:46] bogie commented on #118
I believe that nc finally takes the type from the database. I will prepare a PR with == then to ensure backwards compatibility.

[2017-04-24 00:33] wompydomp commented on #117
Not sure if this applies to this issue, but is it possible to display date/time in US localized form: MM/DD/YYYY 2:45pm ?

Great work, I highly appreaciate the poll!

[2017-04-24 00:37] wompydomp opened #121 "Calendar / ICS file integration when closing poll"
Feature request/idea:

It would be great to download an ics file (for anonymous users) or integrate the final voted date of the poll into the user calendars.

[2017-04-29 08:55] #118 closed

[2017-04-29 08:55] v1r0x commented on #118
Fixed by #119

[2017-04-29 10:20] v1r0x commented on #114
Thanks for your report. I'll look into it.

[2017-04-29 10:22] v1r0x commented on #121
I already had this idea myself. Good to know there are more people who want this feature. I'll add this to a future milestone

[2017-04-29 10:22] #107 closed

[2017-04-29 10:24] #31 closed

[2017-04-29 10:43] #97 closed

[2017-04-29 11:59] joergmschulz commented on #97
I see you fiexed many things today; does it make sense to download master to a test system and play around a bit - or will you create a beta release?

[2017-05-02 18:51] v1r0x commented on #97
I try to release 0.7.3 in the next days/weeks. But you could definitely try the current master to check if it really works.

[2017-05-02 19:41] joergmschulz commented on #97
Will there be a version / branch that works on NC 12? The master I installed a minute ago doesn’t.

[2017-05-03 08:02] v1r0x commented on #97
All my systems are on NC11, but I setup a second testing VM with NC12. Have you tried to increase the `max-version` in `appinfo/info.xml` from `11` to `12`?

[2017-05-03 08:04] joergmschulz commented on #97
Yes - and I got weird error messages in the browser console. Possibly an outdated api call? Do you want me to reproduce and document here, or will you do it anyway?

[2017-05-03 09:31] v1r0x commented on #97
Best would be if you open a new issue (e.g. NC12 compatibility) and add your errors there.

[2017-05-03 09:45] joergmschulz opened #122 "polls not compatible with NC12"
### Steps to reproduce
0. _log in with a user from LDAP._ This error does NOT come up with 'normal' users.
1. change max version in appinfo to 12
2. php occ app:enable polls
3. open polls

### Expected behaviour
polls should open

### Actual behaviour
the app crashes with following info:
- screen: complains about an internal error.
- nextcloud log doesn't contain anything relevant
- browser consol

[2017-05-03 09:54] joergmschulz commented on #97
done so. It's no good to abuse this closed thread anyway, sorry.

[2017-05-03 09:56] joergmschulz commented on #102
NC12 will have an impersonate app - maybe this one resolves this issue.

[2017-05-03 10:08] v1r0x commented on #102
Thus the admin could delete all polls of a specific user. But due to the new app it would be impossible to prevent this anyway. I think we should close this issue. It's better to use something which exists instead of implementing something on my own. If you think this is not a good solution please reopen @poVoq

[2017-05-03 10:08] #102 closed

[2017-05-03 10:09] v1r0x commented on #122
The error looks weird. Look into it. Thanks for your reports!

[2017-05-04 08:09] #117 closed

[2017-05-04 08:10] v1r0x commented on #117
@wompydomp Please open another issue for this. I then try to find a solution.

[2017-05-05 06:23] joergmschulz commented on #122
maybe a look at difficulties other app developers (ojsxc, audioplayer) have with NC 12 - links inside could help you: https://help.nextcloud.com/t/nc12-breaking-changes/11798

[2017-05-05 08:57] v1r0x commented on #122
Based on your comment in #123 you can now enable/use the polls app iff you do not login via ldap? So it works for local users?

[2017-05-05 09:04] joergmschulz commented on #122
Exactly. For local users, it works, for LDAP it doesn’t.

[2017-05-05 09:09] v1r0x commented on #122
Is there any new error message? Unfortunately I don't have a ldap-server for my testing VMs. Maybe I could try to use the ldap connection of my production system.

[2017-05-05 09:14] joergmschulz commented on #122
No, it is the error message I’ve posted.
So bad my NC12 test installations are only local/virtualbox. One of these days, I might have a test environment for NC12 up and running soon - but this might take a week or so.

[2017-05-06 10:24] v1r0x commented on #122
I added my production server's ldap settings to my local virtualbox nc 12 instance and the polls app works as expected. Maybe you have to update the ldap addon? Or anything else is not compatible. Could you try to setup a new nc 12 instance and only enable ldap and polls (if you did not already)?

[2017-05-07 20:21] v1r0x commented on #113
This one will be fixed as soon as #123 and #124 are merged.

[2017-05-07 20:44] joergmschulz commented on #122
I have good news for everybody: I disabled polls app, dropped all my oc_polls* table from the database and reenabled polls app. Now the app works. Will continue to test.
This could mean that either the upgrade to the new version failed to modify the database structure or that my database has been corrupt somehow. I failed to create a snapshot before this action, so it's unclear how to reproduce.

[2017-05-07 20:54] joergmschulz opened #125 "branch nc-12: poll status not updated in polls overview window"
When I vote in a (text) poll and submit the result to the database, the status light in the polls browser does not change from red to green as it should.

This is only true for Safari. In Chrome it works.

This happened after I deleted all polls databases and reinstalled polls app (auto recreate the databases).

[2017-05-07 21:18] joergmschulz opened #126 "branch nc-12: Internet Explorer and Safari: date polls show NaN instead of date"
Date polls show NaN instead of correct dates in Safari/Current.
Chrome and Firefox do not have this issue.
![nanpolls](https://cloud.githubusercontent.com/assets/6523646/25785222/6afed22c-337b-11e7-8a57-87263dac2859.png)

[2017-05-08 07:30] v1r0x commented on #122
Haven't tested it with restricted polls. Maybe something has changed there. Will test it with a restricted poll.

[2017-05-08 07:32] v1r0x commented on #125
Damn apple....:P I try to find a solution to test it with safari.

[2017-05-08 21:06] v1r0x commented on #122
Looks like it is possible to search for ldap groups, but calling `getUserGroups()` on ldap users doesn't get the user's ldap groups...

[2017-05-10 08:04] #114 closed

[2017-05-28 20:55] joergmschulz commented on #122
see PR #127 / in my env, this fixes the group issue. But, the fix needs some review and hopefully a change in template.

[2017-05-28 20:58] joergmschulz commented on #126
looking in debugger, there seems to be a javascript error:
![jsdebuggernan](https://cloud.githubusercontent.com/assets/6523646/26532109/28052ece-43f9-11e7-8ccb-c4fb982f7a24.png)

[2017-07-05 18:29] poVoq commented on #113
Any update on this? Would be great to have it easily available in NC12 :)

[2017-07-05 19:39] joergmschulz commented on #113
@poVoq If you are able to, it would be good to pick up and repair the current issues. You'll detect a badly done fix from myself, and an open issue with Safari. Without these fixes, polls doesn't work correctly on NC12.

[2017-07-05 20:38] v1r0x commented on #113
Totally forgot about the review of @joergmschulz PR! Sorry about that. Was very busy the last weeks. I do it in the next days. I promise! 😉

[2017-07-10 12:36] kdslkdsaldsal opened #128 "Publish oC 9.0/9.1/10 app versions to marketplace.owncloud.com?"
Hi,

the oC guys announced that the "old" apps.owncloud.com is now deprecated:

https://owncloud.org/blog/good-bye-apps-owncloud-com/

Even oC 9.0 and 9.1 users are advised to use the new marketplace which provides a backward compatible API. Are there any chances to get the 9.0 and 9.1 app versions from:

https://apps.owncloud.com/content/show.php/Polls?content=174671

published at the new marketp

[2017-07-10 13:05] v1r0x commented on #128
Hi,

I think I'm going to publish it to the oc market as soon as #113 is fixed. I hope it works :wink:

[2017-07-10 13:43] kdslkdsaldsal commented on #128
Ah, thanks. I saw #113 but that was only about Nextcloud and ownCloud 10/X.

But the older versions for 9.0 and 9.1 still could be published at the marketplace or is there any reason against this? (not quite sure if the 9.0 and 9.1 versions will also work on 10/X)

Thanks again for your reply.

[2017-07-10 13:46] v1r0x commented on #128
Ah, so you are talking about the current version (0.7.2)? I release new versions to OC marketplace and nc app store as soon as #113 is fixed. Hopefully this week. Hope you can wait a couple more days for the release :smile:

[2017-07-10 13:57] kdslkdsaldsal commented on #128
Ah, yes. Sorry 😃  I was talking about the 0.7.2 from https://apps.owncloud.com/content/show.php/Polls?content=174671. Wasn't sure if any new version is also compatible with older oC releases like 9.0 or 9.1, thats why i had created this issue/question here.

Sure, absolutely no hurry. Just wanted to let you know about the deprecation of the old appstore. 😄

[2017-07-16 18:47] #122 closed

[2017-07-16 19:08] v1r0x commented on #113
Finally uploaded....Thanks for all contributions!

[2017-07-16 19:08] #113 closed

[2017-07-16 19:15] v1r0x commented on #128
Tried to upload the app to the marketplace, but couldn't find any info how the format of the file should be....

[2017-07-16 20:48] kdslkdsaldsal commented on #128
Hey, looks like https://github.com/owncloud/documentation/pull/3188 didn't made it to https://doc.owncloud.org/server/master/developer_manual/app/publishing.html yet.

However that didn't contain the file format which should be used. Just have checked a few apps already published and they are all using the .tar.gz file format.

[2017-07-17 19:37] joergmschulz commented on #125
Did you find a way to test Safari? There are virtualboxes with Sierra (previews), maybe this would be a solution.

[2017-07-17 22:19] v1r0x commented on #125
Not yet. Will have a look at the virtualbox solution. Thanks for the hint

[2017-07-18 13:06] pmd2016 opened #131 "Can't save a TXT poll: "Click on cells to turn them green""
If I try to add a public text poll, I get the following message:

<img width="990" alt="screen_shot_2017-07-18_at_14_59_54" src="https://user-images.githubusercontent.com/19425130/28318279-760d957c-6bca-11e7-9cff-12433aef4802.png">

[2017-07-18 13:15] joergmschulz commented on #131
The alert exactly tells you what to do: In order to activate the selections you have to click on the red cells containing the X. Then it will work.

[2017-07-18 13:21] pmd2016 commented on #131
Ah. I see. It's not that obvious what you need to do IMHO... 😉

[2017-07-18 14:24] himbeere opened #132 "yellow bar"
Hello Devs.

Thanks for this beautiful app. May I ask you to change the yellow bar to a less bright color? I think this yellow is too much.

![bildschirmfoto 2017-07-18 um 16 22 11](https://user-images.githubusercontent.com/631865/28322101-7e1307b0-6bd5-11e7-9d20-53e5fbf5e6c0.png)

thanks and cheers

[2017-07-18 14:33] v1r0x commented on #132
Thank You!
I try to find a lighter, but still visible yellow(ish) color

[2017-07-18 17:10] v1r0x commented on #131
Can we close this or should there be a description or anything in the UI so it's clear what to do?

[2017-07-18 18:40] himbeere commented on #132
Great. Maybe the yellow bar could contain question marks for the unmarked fields?

[2017-07-18 20:16] q00d0 opened #133 "no update for survey after text gets removed"
Version: 0.7.3
If you create a survey with own text and some users participate in the survey and then you remove an element from the survey via editing it the element is still shown in the survey and its even possible to vote for it!

Is this a bug or feature?

In my opinion this behavior is a bug. If I remove an element of the survey it should not be possible to still vote for it.

[2017-07-18 20:24] q00d0 commented on #131
I had the same "problem". A description would be nice!

[2017-07-18 20:45] q00d0 commented on #133
I've reloaded the page and then it disappeared. I think it might was a cache problem.

[2017-07-18 20:45] #133 closed

[2017-07-18 22:48] v1r0x commented on #131
Ok, as you wish 😉 Any suggestions?

[2017-07-19 07:32] pmd2016 commented on #131
The way I interpret the 'insert text' screen is as answer options to the poll. It is not very clear that you have to answer the poll yourself before you can save the poll. It would be great if you can just setup a poll and let others answer without the need to answer the question yourself first. Does that make sense?

[2017-07-19 07:43] v1r0x commented on #131
You don't have to answer the questions, it's just about selecting the available questions you want in your poll. Only entries with a green checkmark will be in the poll.

[2017-07-19 07:50] q00d0 commented on #131
Maybe radio buttons fix this - "active" and "inactive" or something like this.

[2017-07-19 14:11] Schmuuu commented on #125
Hi,

I see the same issue in Firefox 54.0.1 (32-Bit) and MS Edge. In the overview there is no update of status lights.
I'm using NC 12 (stable release) on Ubuntu 16.04 LTS and installed the app from the NC store. So might not be a browser related issue.

[2017-07-20 05:52] DJCrashdummy commented on #131
IMHO this problem only occurs, if you haven't already created a date-poll with this app, so...

- a little bit more clear statement like in https://github.com/v1r0x/polls/issues/131#issuecomment-316059909 would definitely be fine.

- also activating the lines by default could be a solution.
if you've done a mistake, you start thinking about "how can i get rid of it" anyway. - and if you've already

[2017-07-20 15:25] Demoniac82 commented on #126
The same thing seems to happen in Internet Explorer 11. MS Edge is not affected.

[2017-07-24 16:35] azlux commented on #132
Maybe a "?"

[2017-07-27 20:37] joergmschulz commented on #125
no need for a OSX virtualbox if you have a current windows system somewhere - Internet Explorer has the same issue.

[2017-07-27 22:28] dartcafe commented on #132
I would vote for the use of icons.

Quick example:
![grafik](https://user-images.githubusercontent.com/26707476/28694740-9587d332-732b-11e7-861b-a5ffc9252025.png)

[2017-07-27 22:38] dartcafe opened #135 "User should be able to change his choices in a public poll"
If an partiticipant of the poll has to change his choices, he can do this only as a logged in user. On a public poll, he should be able to enter his email address, where he can receive an unique link for his choices.

[2017-07-27 22:39] azlux commented on #132
3rth line, but with a "?" indeed of the pause sign.

[2017-07-27 22:44] dartcafe commented on #132
But when I think about it, three status make no sense. I think yes or no, on or off are enough. The question is: "Dou you vote for a date or not?" A 'maybe' is like a 'no'.

[2017-07-27 22:48] azlux commented on #132
Maybe is more like a "Yes, but I don't know if something else will be scheduled here"

[2017-07-27 22:49] dartcafe opened #136 "Principle should be able to close the poll and select the choosen date(s)"
Or did I miss something? I didn't find a way to do this. Optionally, poll could transfer a commited date to the calendars of the participating oc/nc users.

[2017-07-27 22:55] dartcafe commented on #132
In my opinion a maybe is not helpful for coordinating an appointment. This would miss the goal o the poll, where the pricipal wants to know, if an participant can take part or not. It could be optional.

[2017-07-28 07:02] azlux commented on #132
What about an option to enable and diable the possibility to select the "maybe" option ?

[2017-07-28 07:26] v1r0x commented on #132
I like the _maybe_-option in dudle. For me it's either maybe or "It's not my favorite slot, but it's ok".

[2017-07-28 07:28] v1r0x commented on #136
Closing a poll is currently only supported by setting an expiration date. Good idea for a future release! :)

[2017-07-28 07:28] joergmschulz commented on #132
Before adding new functionalities, we should stabilize the current version / Internet Explorer and Safari should be able to display the date fields.

[2017-07-28 07:39] v1r0x commented on #132
@joergmschulz Sounds good. For the next release I'll add a _?_ as indicator for maybe and look for a lighter/more visible color.

[2017-07-28 15:05] dartcafe commented on #103
I made a variant of the UI of @amittel with a rearrangement of the Items and adding some default classes from NC.
![grafik](https://user-images.githubusercontent.com/26707476/28723422-fec169e0-73b6-11e7-952c-1a671a85e7c4.png)

[2017-07-29 10:23] dartcafe commented on #126
Maybe the PR will help.
https://github.com/v1r0x/polls/pull/138

[2017-07-30 04:48] dartcafe commented on #103
@amittel Are you still working on it? I tried to install your version, but it ends in an server error with NC12.

[2017-07-30 04:54] dartcafe opened #140 "Main navigation should be removed, if the user is not logged on."
When a non authorised user uses poll, the apps in the main navigation are still present and lead to the login screen.

Should be done in the way, shared folders are displayed for non authorised users.

[2017-08-26 15:52] tpajenka opened #142 "User language settings not respected"
My browser locale is German, but the language set for the nextcloud account is British English.
The app does not respect my user settings and shows all available text in German admist an english user interface.

[2017-08-31 07:12] 4001982248998 commented on #126
@dartcafe , commit 7018f56d5c8e0c461478489961360b948af2fd97 did it for me. Thanks!

[2017-09-01 13:31] keinkurt commented on #135
You can change your vote in a public poll, by typing the same name in the input field, make new choices and click on vote.

My proposition is to make all public votes editable by everyone by simple click an edit button on an user and after that editing the choices.

[2017-09-01 13:34] keinkurt opened #143 "Creator of public poll should be able to remove an user from poll"
If a users vote of a public poll is no more relevant, the polls creator should be able to remove this user from the poll.

[2017-09-02 08:32] dartcafe commented on #132
A suggestion
![grafik](https://user-images.githubusercontent.com/26707476/29994189-0498e6a2-8fca-11e7-861b-5db0b7321273.png)

[2017-09-03 14:00] dartcafe opened #148 "Redesign of list UI"
I made some changes to the polls list, so it is more looking like the standard design. Orientation was the files app.
![polls_list](https://user-images.githubusercontent.com/26707476/30003643-ef916e08-90c0-11e7-8f36-a6bd1afac76d.png)
Comparing to the old design:
![poll_list_initial](https://user-images.githubusercontent.com/26707476/30003665-54f68922-90c1-11e7-9ee6-e69908b80ff0.png)

[2017-09-04 17:44] v1r0x commented on #148
Very nice, looks much cleaner! Maybe you could have a look at #104, so _mayor_ UI changes are in one PR. Maybe we could also finish #104. :)

[2017-09-04 17:46] v1r0x commented on #140
Had a look at other apps a while ago and back then they all their own layout. Is this still the case or has this changed in nc 12?
But nevertheless we should fix this 😉

[2017-09-04 18:04] dartcafe commented on #148
I looked at #104 and tried the branch, but I got server arrors, which I could not identify. That's why I asked @amittel, if he is working on it a few weeks ago (#103). And it is not easy for me to understand the changes, he made, since I am no programmer and not famliar with the nextcloud API.

For the moment I am continuing with the UI optimazions locally. After that, we can try to adopt or conti

[2017-09-04 18:05] michag86 commented on #86
@scroom @v1r0x @BernhardPosselt can somebody test this?

[2017-09-04 18:14] dartcafe commented on #140
The files app shows a good alternative.

[2017-09-04 18:52] v1r0x commented on #148
Seems I missed your comment in #103, sorry!
Ok, keep going and have fun learning :) If you need anything, just mention me. Will have a look at #104 to figure out what's wrong.

[2017-09-05 11:40] larseidam commented on #86
I have test it with sub folder and without
with subfolder you get:
**https://foo.bar.de/cloud//cloud/index.php/apps/polls/poll/UevZqkOsS0gzTILh**
without subfolder you get:
**https://foo.bar.de//index.php/apps/polls/poll/UevZqkOsS0gzTILh**
I'm running a Nextcloud 12.0.2 with Polls Version 0.7.3

[2017-09-05 18:22] dartcafe commented on #148
I commited my changes so far. Not yet finished and I am still not happy with all of it, but curious about your thoughts and suggestions.

![bildschirmfoto vom 2017-09-05 um 20 20 42](https://user-images.githubusercontent.com/26707476/30075980-c9819dc4-9277-11e7-9e14-56d543a43762.png)
![bildschirmfoto vom 2017-09-05 um 20 21 07](https://user-images.githubusercontent.com/26707476/30075984-cd9e53de-9

[2017-09-05 18:24] dartcafe commented on #135
Thanks. Didn't see the possibility of repeating the name.

But if anyone can edit every vote.... ?

[2017-09-05 18:24] #135 closed

[2017-09-05 18:36] joergmschulz commented on #148
clear, more intuitive, people who can't discern red&green are able to see the choices!
What about text polls? Do they work?

[2017-09-05 18:39] dartcafe commented on #148
As far as I see, I have no issues.
![bildschirmfoto vom 2017-09-05 um 20 38 27](https://user-images.githubusercontent.com/26707476/30076765-45d22aa4-927a-11e7-9c06-0868f20cdbf8.png)

[2017-09-05 19:32] happyreacer commented on #148
It looks nice and i think the overfew is better, too.

[2017-09-05 19:51] dartcafe commented on #86
I tried to reproduce the error. I set up an instance in a subfolder and I can't get the error. @scroom @larseidam: Do you have a base URL parameter set in the header of the html output?

[2017-09-05 20:58] joergmschulz opened #152 "Text polls with long text: Line break possible?"
reviewing #148 from @dartcafe , I had the idea to enter a long text for a text poll. This somewhat clutters the screen. Would it be possible to automatically line-break long texts after, for example, 30 characters?

[2017-09-05 21:04] joergmschulz commented on #148
maybe a separator between the options would be helpful: when all is yellowish, the options can be found easier for very short headers on text polls (a, b, c, d, e...)

[2017-09-05 21:14] v1r0x commented on #148
Really like the new UI. Great job!

[2017-09-05 21:34] dartcafe commented on #148
Normaly in text polls the options are orderd vertically, not horizontally. Wouldn't this be better and more readable?

Maybe vote and presentation of the result can be seperated. So the voting options can be rearranged, regardles of the partitipants.

Date polls have a more coordinating meaning, which means, it helps to see the votes of others. In textpolls this maybe not that important.

Understa

[2017-09-05 21:34] dartcafe commented on #152
Normaly in text polls the options are orderd vertically, not horizontally. Wouldn't this be better and more readable?

Maybe vote and presentation of the result can be seperated. So the voting options can be rearranged, regardles of the partitipants.

Date polls have a more coordinating meaning, which means, it helps to see the votes of others. In textpolls this maybe not that important.

Understa

[2017-09-05 21:35] dartcafe commented on #152
I will try the wrapping next days.

[2017-09-05 21:35] dartcafe commented on #148
I will try a few options the next days.

[2017-09-06 13:11] michag86 commented on #86
@larseidam can you test this changes  #150 ?
@dartcafe the link is generated wrong at this position:
![grafik](https://user-images.githubusercontent.com/6691165/30113481-229c8f52-9315-11e7-9ce3-492217b67e04.png)

If you click on the name of the poll everything is fine.

[2017-09-06 17:08] dartcafe commented on #86
Ah. Is see. I can confirm the error. Since it is the same URL, like the direkt link, it is OK to replace <?php p(OCP\Util::linkToAbsolute('', $pollUrl)); ?> with <?php p($pollUrl); ?>

[2017-09-06 18:42] joergmschulz commented on #148
Just quick-testing the release of today.
Generally I am amazed - looks good now!
Findings:

- when a user wants to select a poll out of the list of polls, he must hit the text or description of the poll; clicks on the whitespace between the lines don't open the poll. Beginners will be confused.

-  description text for copy-to-clipboard: CTRL-c is not correct for apple Users. ENTER doesn't work, o

[2017-09-06 19:04] #86 closed

[2017-09-06 20:46] dartcafe commented on #148
Great. Thank you. I am not finished with the text polls right now. I will inspect your issues the next days. Have something to do in my other jobs. :-)

[2017-09-06 20:49] dartcafe commented on #148
@v1r0x: Do you have an idea of calculating the right localized times without JS?

[2017-09-07 06:32] dartcafe commented on #148
@joergmschulz

Didn't get you. Which functionality are you referring to?

[2017-09-07 07:19] joergmschulz commented on #148
Well, on Apple keyboards it is CMD-C. And, the ENTER key didn't copy the text into the clipboard. Only the OK button and CMD-C.
<img width="793" alt="copytext" src="https://user-images.githubusercontent.com/6523646/30150913-908de8ec-93ad-11e7-9ee8-efdb523f2ec3.png">

[2017-09-07 07:34] dartcafe commented on #148
Ah. OK. I will look after it.

[2017-09-07 19:45] joergmschulz commented on #148
regarding the NaN - can't you reuse the fix https://github.com/nextcloud/polls/pull/138/commits/7018f56d5c8e0c461478489961360b948af2fd97 ?

[2017-09-07 20:20] dartcafe commented on #148
@joergmschulz I'm getting mad with the different interpration of js date functions in the browsers. I need some time to test the compatibility. I think, I will go to it next week. Maybe I have time in the weekend.
Regarding your findings:

- The poll should now be clickable via the whole table cell
- Ctrl-C of the description should be resolved in another way. I think the solution with a dialig is

[2017-09-07 20:30] dartcafe opened #155 "Eliminate index.php from the URLs"
Any solution for getting clean URLs?

[2017-09-07 20:34] dartcafe commented on #41
I made a try in #151. Not yet finished, but a step in the suggested direction, I think.
![grafik](https://user-images.githubusercontent.com/26707476/30183974-a24a11b8-941c-11e7-9fad-6a7be3642496.png)

[2017-09-07 20:36] dartcafe opened #156 "Use default date time picker"
See https://github.com/nextcloud/server/issues/6348

[2017-09-07 20:42] dartcafe commented on #98
This is a function and primary for colaboration. I would like to see it in the calender app, but this is heavy work, if you think about the administration of the resources. I would focus this app on polls and not on scheduling dates or events.

Suggestion: close the poll.

[2017-09-07 20:43] dartcafe commented on #136
#121

[2017-09-07 20:50] dartcafe commented on #142
As far as I understand, this is a issue for nextcloud/server.

[2017-09-07 20:50] #142 closed

[2017-09-07 20:56] #132 closed

[2017-09-07 20:58] dartcafe commented on #99
I would close this issue for tidying.

[2017-09-08 08:21] v1r0x commented on #155
I think this is a server configuration, not an app issue.

[2017-09-08 08:21] #155 closed

[2017-09-08 10:53] dartcafe commented on #155
OMG. I thought the other apps have it. I cleared my glasses

[2017-09-08 11:48] dartcafe commented on #148
A suggestion. @joergmschulz: What do you think?
![grafik](https://user-images.githubusercontent.com/26707476/30210299-59c81b6c-949c-11e7-9841-468915695a83.png)

[2017-09-08 12:18] joergmschulz commented on #148
Honestly, I think this is unintuitive. Personally, I prefer the 'All' column.

[2017-09-08 13:30] dartcafe commented on #148
Referring the toggle item, i agree. This solution is not intuitive. I prefer the solution, which states, that the action changes the row, of the current user. Reserving a complete cloumn for a row action is a waste of spare, especially, when we are on mobile devices.

I will make some more inuitive suggestions for the toggle. I dislike this one, too. and in fact it is horribel to arrange divs insi

[2017-09-08 13:35] joergmschulz commented on #148
Yes, a quick patch yesterday using your old fix fixed the date issue. I'll pull the state of the branch tonight (if I don't go mountaineering - else it takes me some days.)
And, yes, the space between the cells looks good.

[2017-09-08 19:12] joergmschulz commented on #148
A walk-through showed no additional glitches; currently the behaviour seems to be consistent and functional using all my browsers including Safari, Chrome, Firefox on Macos and Edge and IE on W10K and Firefox /Android .
For small android screens (phone), firefox and Chromium fail to render the right menu options in the list - This might be out of scope.  I don't know whether it's a good idea to ed

[2017-09-09 04:16] jgrete opened #157 "Cannot install polls due to database error"
Hi,
activation is not possible on a fresh upgraded Nextcloud 12.0.2 system.
On activation I'm getting this:

`An exception occurred while executing 'ALTER TABLE oc_polls_events ADD `hash` VARCHAR(64) DEFAULT NULL, ADD `is_anonymous` INT DEFAULT 0, ADD `full_anonymous` INT DEFAULT 0, CHANGE `id` `id` INT AUTO_INCREMENT NOT NULL, CHANGE `type` `type` BIGINT DEFAULT NULL, CHANGE `created` `created` D

[2017-09-10 04:27] pirate commented on #131
What does the red X even do?  What's the purpose of putting in poll options that are X'ed out?

[2017-09-10 16:55] dartcafe commented on #157
Can you give some more information?
What version did you ubgrade to 20.0.2
Which version of polls was installed befor?
Which Version did you try to install?

I will try to reproduce that.

[2017-09-11 05:34] jgrete commented on #157
The upgrade was done from Nextcloud 12.0.0 to 12.0.2
I remember that I was not able to install Polls on NC 12.0.0 and thought it was a problem with NC 12.0.0
I cannot tell you which version of Poll was installed before - I think the last working version was installed long ago (>9 month). The current versyion I tried to install is 0.7.3

[2017-09-12 15:50] dartcafe commented on #148
What about this variant?
![grafik](https://user-images.githubusercontent.com/26707476/30335429-a65068b0-97e2-11e7-9f4d-8f76ed6ebe70.png)
Or this?
![grafik](https://user-images.githubusercontent.com/26707476/30335494-d3fb7b88-97e2-11e7-9229-b435a1262bd8.png)
Or the above one?

[2017-09-12 16:05] v1r0x commented on #148
I like the one with rounded icons more. But the variant with colored background is my favorite.

[2017-09-12 18:32] dartcafe commented on #148
I am not sure, which is my favorite. I like the round ones more too. But with wide options, I think the colored table cells makes it a little bit unsmoothy.
![grafik](https://user-images.githubusercontent.com/26707476/30210299-59c81b6c-949c-11e7-9841-468915695a83.png)

In this variant the colors are not that "mighty"
![grafik](https://user-images.githubusercontent.com/26707476/30342149-0038c2da-97

[2017-09-12 20:46] happyreacer commented on #148
@dartcafe it is cool, too. I wish a option to have this or that design. ;-)

[2017-09-13 06:34] dartcafe commented on #148
I try to make it configurable via css class. The recent commits first switched back to the default style. @v1r0x Is it possible to add a configurable switch in the per user settings?
![grafik](https://user-images.githubusercontent.com/26707476/30362733-a8ac2b28-985d-11e7-95ce-625132597a65.png)

There is still a bug with the create page, which I will fix later.
@v1r0x Some bugs I found:

- The "bes

[2017-09-13 07:44] v1r0x commented on #148
We should have a good default instead of a configurable UI. Maybe @jancborchardt can help here :wink:

[2017-09-13 07:50] v1r0x commented on #148
is this a general problem or in your branch? If it is a general problem: Could you open an issue? Would be better to track further problems/progress there. Thanks!

[2017-09-13 08:54] jancborchardt commented on #148
Yep, colored full background and icons are great. No configuration options as that is all stuff we need to test and will break.

@dartcafe great work! I will also test later, and add you to the Nextcloud design team. :) You are also very welcome in our #nextcloud-design IRC channel.

Also cc @nextcloud/designers for review.

[2017-09-13 09:15] jancborchardt commented on #148
By the way, to really conform to Nextcloud design, the poll overview should be very much simplified as to which info is shown and put in the left navigation as a list.

Simply the name of the poll, and left of it an icon about the state (running, finished, etc) is enough. Then to the right the usual share / 3-dot-menu.
Look at how we do it in the Deck app and Calendar for example, that will also g

[2017-09-13 09:38] dartcafe commented on #148
Less configuration is less work and test of course, so I don't complain. I am almost satisfied with the current branch. Waitng for issues to plan.

@jancborchardt You already added me to the desing team a few weeks ago. :-)

[2017-09-13 09:59] dartcafe commented on #157
I think it is a problem of the missing migration from prior versions. It would be more easy to delete the tables staring with oc_poll in thwe database to start with a clean db schema, if you do not have important polls from the past.

When leaving the beta status, I think, there will be a migration path, hopefully starting from version 0.7.4.
@v1r0x Any additional recommendation?

[2017-09-13 10:07] jgrete commented on #157
Ok, no problem to delete the tables.
Thank you for investigating!
Juergen

[2017-09-13 10:20] jgrete commented on #157
By the way, may I propose a small change in the user interface for the upcoming new version?
On creating a new poll when I'm choosing a couple of dates without choosing a time of day a dialog box warns
"Nothing selected. Click on cells to turn them green"
This is not very intuitive because it refers to cells which are not visible yet. Please allow choosing dates without time of day or indicate tha

[2017-09-13 10:57] dartcafe commented on #157
open a new issue, so we can track that. But I have that in mind. The creation page needs some more work besides this, I believe.

[2017-09-13 10:58] dartcafe opened #158 "Remove Owncloud versions in appinfo?"
I am not sure, but I fear that this isn't tested. Or can somebody support this?

[2017-09-13 11:00] dartcafe commented on #148
The app navigation is indeed a todo.

[2017-09-13 11:58] v1r0x commented on #158
Some users are oC users, so we should definitely keep it in appinfo. But yes, I think this not properly tested.

[2017-09-13 12:00] dartcafe opened #159 "Best option and total row dont work properly, with spaces in options name"
Obviously spaces in the ID of the current users vote cell are the reason,
It seems, that on creation of the poll the spaces have to be replaced by underscores.
Bug is in #151 and 0.7.3 release as well.

[2017-09-13 12:07] jancborchardt commented on #148
@dartcafe yeah – my second comment about the navigation and sidebar is something for a separate pull request I’d say. :)

@dartcafe can you open a pull request for this? Then I’d say we can merge this, right @v1r0x?

[2017-09-13 12:10] v1r0x commented on #148
If this PR doesn't introduce any bugs or unfinished stuff: yes. And after I had a look at it :wink:

[2017-09-13 12:45] dartcafe commented on #158
OK. I fear, that my changes are not really compatible with oC, because I just watched NC.

[2017-09-13 12:45] #157 closed

[2017-09-13 12:49] dartcafe commented on #131
It is the default behavior. The red x signals: this option is not offered to the participants.
If you klick on it, it turns to a green check sign and the option will be added to the poll.
Not really intuitive and what a user expects. I think this is gonna be under investigation.

[2017-09-13 14:24] dartcafe commented on #152
fixed in #151

[2017-09-13 14:24] #152 closed

[2017-09-13 14:39] dartcafe commented on #158
I will setup an instance for it, just to know, what's broken...

[2017-09-13 14:52] jgrete opened #160 "Turn green the poll options when creating a poll as default"
Hi,

On creating a new poll when I'm choosing a couple of dates without choosing a time of day a dialog box warns
"Nothing selected. Click on cells to turn them green"
This is not very intuitive because it refers to cells which are not visible yet. Please allow choosing dates without time of day or indicate that the time is not optional.
Regards
Juergen

[2017-09-13 14:55] jgrete commented on #160
Oh, I see this is double of #131
Sorry

[2017-09-13 17:34] dartcafe commented on #131
Closing this because of #160

[2017-09-13 17:36] dartcafe commented on #158
I tested the branch against oC and everything works as expected, besides the fact, that oC cannot handle SCSS files, so we should commit the compiled CSS files for the release.

[2017-09-13 17:37] #158 closed

[2017-09-13 18:49] DJCrashdummy commented on #131
@dartcafe i'm not sure if it is a good idea to close an issue with a longer message queue and collected ideas instead of the freshly created duplicate (although it is not an exact duplicate).

[2017-09-13 20:16] dartcafe commented on #131
Apologizes. Thought it was easier to start with the fresh one. Didn't want to bother someone. Maybe my fingers have been too fast...

[2017-09-13 20:51] dartcafe commented on #148
@v1r0x What is your opinion. I changed the divs col-30 and col-70 from

`.col-70 {
    width: 65%;
    float: left;
    padding: 0px 15px;
}`

`.col-30 {
    width: 35%;
    float: left;
    padding: 0px 15px;
}`
to

`.col-70, .col-30 {
    float: left;
    padding: 0px 15px;
	min-width: 350px;
	max-width: 900px;
}
`
![grafik](https://user-images.githubusercontent.com/26707476/30399923-8faf4b00-98

[2017-09-14 08:04] v1r0x commented on #160
closing this one if favor of #131

[2017-09-14 08:04] #160 closed

[2017-09-15 16:11] AceSlash commented on #131
I too, don't understand this option.

When I take the time to add an item, it should be immediately available to the poll. The only option should be to remove it (or eventually change the order of option, which is not possible now).

What's the point of creating an option and then don't use it? I don't get it.

[2017-09-15 16:19] AceSlash opened #162 "[Feature Request] Add option to disallow multiple selections"
Hello,

We are evaluating polls and it's great when selecting a date for a meeting but when creating a simple poll, the current layout is suboptimal, we often need a very simple poll with only one possible selection (radio style), like:
Should we use the Nextcloud polls plug in?
1. Yes
2. No
3. I don't care

I understand that I could just create an option with the name of the poll in this case and

[2017-09-15 18:29] joergmschulz commented on #148
just walked through the current state of new-design. Amazing. This is something that should be released with a proper incrementation in the release#.

[2017-09-15 18:36] DJCrashdummy commented on #148
just a small hint regarding the copy-url-topic if it is still valid...

for a consistent UX maybe something like in the files-app (2 times) or in the  VideoCalls-app should used:
![dateien_-_testcloud](https://user-images.githubusercontent.com/26110463/30496867-0b3b0ed6-9a51-11e7-814c-5e2303aef510.png)
![admin_-_videoanrufe_-_testcloud](https://user-images.githubusercontent.com/26110463/30496884-1

[2017-09-15 18:40] joergmschulz commented on #126
resolved in #148

[2017-09-15 18:40] #126 closed

[2017-09-15 18:48] joergmschulz commented on #131
when you start creating complex polls with multiple dates and multiple hours, you'll see why a default-X has been a good idea.
As this seems to be the minority of polls, I would like to back the proposition to always add new options as green even when multiple hours are given.

[2017-09-15 19:11] DJCrashdummy commented on #131
@dartcafe np, no harm done! :wink:

@AceSlash yes... the handling, especially of text-polls, is not ideal for know. already suggested some possible solutions https://github.com/nextcloud/polls/issues/131#issuecomment-316604006, where the second and fourth point are my favorites, but somehow also all 4 solutions together can be applied.
and btw @dartcafe is doing an awesome big redesign at the mome

[2017-09-15 19:21] DJCrashdummy commented on #131
@joergmschulz this issue is (mainly) about text-polls, and in this case i'm also definitely for activating new options by default. for date-polls it is debatable IMHO... but it seems to also be an issue there #160.

[2017-09-15 19:23] v1r0x commented on #148
@dartcafe I think the layout of the second screenshot is my favorite. Wide table and comments. The last one looks very squeezed.

[2017-09-15 19:26] v1r0x commented on #131
I think the red 'x' signalizes deleting the option. Maybe a '?' instead of the x and no background. Additionally a heading or desc would be useful.
I'd prefer the current (opt-in) solution, but re-think the UI/UX.

[2017-09-15 23:55] jancborchardt commented on #148
Agree with @v1r0x the second layout is best. Also works best when you have a left navigation, and comments in the right sidebar (like in Files).

[2017-09-16 03:14] skjnldsv commented on #148
Agreed too!
@dartcafe would you consider using flex? It would greatly increase the responsiveness of the app :)

[2017-09-16 04:04] dartcafe commented on #162
At least for the text polls, this is a good idea. But I think, for the appointment polls, this is beyond the sense of this kind of polls.

[2017-09-16 04:12] dartcafe commented on #148
@DJCrashdummy Just open a new issue with this suggestion.

[2017-09-16 04:59] dartcafe commented on #159
The IDs of the vote table didn't match to the corresponding IDs in the total row. So i changed the IDs to the vote id, which is smaller and is more explicit IMHO. I will commit it, so test is welcome.

[2017-09-16 05:58] dartcafe commented on #148
For me, I have no more issues open regarding #151. If no more issues occur, I would like to merge #151 brand and close this issues. Any further comments, issues, suggestions?

[2017-09-16 06:02] dartcafe opened #163 "Giving the navigation some sense"
Topic for a new PR! Will overtake some suggestion from @jancborchardt from https://github.com/nextcloud/polls/issues/148#issuecomment-329108295

[2017-09-16 06:03] dartcafe commented on #131
At least this way of creating the polls will be a problem on mobile devices. Maybe, we should redesign it as well.

[2017-09-16 06:08] skjnldsv commented on #163
Please check the CSS guidelines for this. I will help validate your pr. Set me as a reviewer on the pr when it's opened. :)

[2017-09-16 06:15] dartcafe commented on #148
@skjnldsv Referring to flex: I would like to see going away from the table layout to a flex or grid layout, at least for the vote page. The problem is, that grids are not supported by MS right now, and when, they will be supported by Edge, but not IE, as far as I understood. So flex would possibly be the best option.

[2017-09-16 09:49] v1r0x commented on #148
@dartcafe Try to have a look at this PR again this weekend. Then we can merge it :)

[2017-09-16 10:39] DJCrashdummy commented on #131
i think the best solution (without a big redesign of the UI) for text-polls(!) would be activating new options by default and have both statuses visible all the time, since it doesn't need that much space.
and that can be designed with radio buttons and the 2 existing icons or just the 2 icons and the not applied one is kind of grayed out.

[2017-09-18 05:02] dartcafe commented on #96
@v1r0x Is that issue still an issue?

[2017-09-18 08:14] v1r0x commented on #96
I don't know, but I think yes. Haven't decided yet which template for not logged-in users is the best. Looks like every other app has another template...

[2017-09-18 10:44] dartcafe commented on #96
As far as I saw, the public pages are ok, besides the fact, that there are navigation elements, which don‘t work, because the user is not logged in. I just find the topic of the issue is a little bit confusing.

[2017-09-18 10:44] dartcafe commented on #159
Fixed in #151

[2017-09-18 10:44] #159 closed

[2017-09-18 10:57] dartcafe commented on #41
Solved in #151.

[2017-09-18 10:57] #41 closed

[2017-09-18 11:01] dartcafe commented on #33
That‘s a little bit complicated, because a user has to choose, which timespan he wants to vote for and then he has to decide, which status he wants to change to. Making this intuitive is not easy, and the benefit is limited.

At least it is a lot of testing for every release. I vote for not implementing this and close this issue.

[2017-09-18 11:04] dartcafe commented on #143
I am not sure, if this is a good function, or if this should be reserved for an administrator. Can you add some user stories to that?

[2017-09-18 14:17] juliushaertl commented on #140
@v1r0x Current state is that every app ships its own template. I think we should really push forward on bringing a common template to the server: See https://github.com/nextcloud/server/issues/6553 for that

[2017-09-18 14:55] v1r0x commented on #140
Thanks for opening an issue in server!

[2017-09-18 19:55] dartcafe commented on #148
@skjnldsv I tried to use flex, but the problem is, that it is nessecary to have dynamical height in rows and width in columns. I think, with grid it is possible, but I didn't find a way to have both with flex. Although I will try to build the overview with flex, because, we have a pure row layout.

[2017-09-18 21:01] skjnldsv commented on #148
Do you need my help? :)

[2017-09-19 04:50] dartcafe commented on #148
Not now, but if I go into it. I want to finish #151 first. I will call you. :-)

[2017-09-19 20:05] #148 closed

[2017-09-20 09:01] jancborchardt commented on #148
@dartcafe what happened? Accidental close or is there a follow-up pull request? :)

[2017-09-20 09:04] MorrisJobke commented on #148
The PR was merged ;)

[2017-09-20 10:07] dartcafe commented on #148
I think, I used the wron merge command. :-)

Follow up follows.

[2017-09-21 16:11] jancborchardt commented on #148
Aaah I confused this as being the pull request. :D PR at https://github.com/nextcloud/polls/pull/151 of course

[2017-09-22 06:26] frankpau opened #165 "UI Broken with NC11 ?"
Hi,

i just installed polls 0.7.3 in my NC11 and the UI looks broken:

![grafik](https://user-images.githubusercontent.com/32132237/30731761-9be458f2-9f6f-11e7-95a3-e2493a97c019.png)

This happens with current Firefox and Chrome

Any Idea ?

Regards
Frank

[2017-09-24 10:05] kdslkdsaldsal commented on #158
Thumbs up for keeping the oC compatibility. 👍 Will report any upcoming issues with oC here if you would like me to do this.

[2017-09-24 10:07] kdslkdsaldsal commented on #128
@v1r0x Hey, do you still need some help with this? I think @PVince81 @DeepDiver1975 or @hurradieweltgehtunter might be able to help / give additional info if there are any issues with uploading to the new marketplace.

[2017-09-24 11:18] v1r0x commented on #158
Sounds good. Thank you! :)

[2017-09-24 11:21] v1r0x commented on #128
Tried it a couple of times and couldn't find a solution. Any help would be good.

[2017-09-24 17:14] jgrete commented on #157
Sorry to reopen this issue. I had no time since this thread was closed to verify the database.
I did it now and found there are no tables starting with oc_polls_* so I cannot delete any.
Any other proposals to get rid off this error?
Regards
Juergen

[2017-09-24 19:01] jgrete commented on #157
All oc_polls_* tables deleted and now it works!

[2017-09-25 09:36] hurradieweltgehtunter commented on #128
you rang? How can I be of your assistance?

[2017-09-25 11:49] dartcafe commented on #165
I just tested agains NC12 and NC13. I will setup an NC11 instance and check this.

[2017-09-28 06:14] jgrete opened #167 "Generated link only useful if already logged in ("Access denied. App not enabled" )"
Is there any chance to get links which are leading to a normal login procedure (if not already logged in) instead of presenting a "Access denied. App not enabled" ?

[2017-10-01 08:19] dartcafe commented on #167
Hmm. I get redirected to the login page, if the app is not anabled. With the enabled app and a link to a poll for registered users, I get redirected too.

Can you provide some more information to reproduce the bevavior?

[2017-10-01 08:56] jgrete commented on #167
It seems to be an issue with NC 12.0.2. On a 12.0.3 Box it looks good, but in our company (NC 12.0.2) I'm getting "Access denied..." when I'm following the generated link, without being logged in.
The upgrade is still on my agenda, but will be done soon.
I'm posting my findings here or close this issue if 12.0.3 is working on that box
Thank you for investigating
Juergen

[2017-10-01 09:23] Manuelibt opened #168 "UI not working on Iphone"
Like the title says, the UI is not working on Iphones. The dates are not shown, just "n.A."

I am using nextcloud 12.

[2017-10-01 10:37] dartcafe commented on #168
Will be fixed with next release.

[2017-10-01 10:37] #168 closed

[2017-10-02 14:33] darootler opened #169 "Date fields broken in OC10 and polls 0.7.3"
Hi,

i just upgraded ownCloud to version 10 and polls to 0.7.3. After that the date fields seem broken:

![image](https://user-images.githubusercontent.com/11849583/31082450-56e030e6-a78f-11e7-85d7-13d55d33e3ad.png)

If you need more information please let me know.

Regards
Richard

[2017-10-02 14:35] joergmschulz commented on #169
see #168 and others. will be fixed in next release. Try the current github master - works there already.

[2017-10-03 04:02] jgrete commented on #167
I've upgraded the 12.0.2 box to 12.0.3 and now it works!
Sorry...
Thanks again for investigating
Juergen

[2017-10-03 04:02] #167 closed

[2017-10-08 12:27] dartcafe commented on #169
@v1r0x: Maybe a new release would be good to eliminate the error.

[2017-10-08 17:53] splitt3r commented on #82
I think Decks Acl solution (https://github.com/nextcloud/deck/blob/master/lib/Db/Acl.php) is a very nice one 👍. Used it for my own app:

![Sharing](https://user-images.githubusercontent.com/1869584/31319370-5809333c-ac62-11e7-9ff2-5e2ead34ec87.png)

[2017-10-08 21:43] xXSTrikeXx opened #172 "Wrong generated URL in Main."
Hey Guys, very nice app.

I´ve added a poll and in the poll the url is shown correctly, but in the main menu the url gets generated wrong.

In the polling itself the url is: http://mydomain/nextcloud/app/polls/uiif8u93
In the main menu the poll generated url is http://mydomain/nextcloud//nextcloud/app/polls/uiif8u93

Solution: The vote isn´t able to open by link sharing ;)

I have found this code

[2017-10-08 22:01] xXSTrikeXx commented on #172
Found it on #153 👍

[2017-10-09 12:31] dartcafe opened #175 "Baking new release 0.8.0"
ToDos:
* [x] Create 0.8 milestone for the project
* [x] Create 0.8.1 milestone for the project
* [x] Create 0.9 milestone for the project
* [X] Merging #171
* [X] Merging #166
* [X] Merging #174
* [X] Removing unnessesary files
* [x] Final tests
* [X] Replace SCSS files with compiled CSS for compatibility with OC and NC 11
* [x] Update Package on apps.nextcloud.com (this is still 0.7.2)
* [x] Buil

[2017-10-09 12:31] dartcafe commented on #175
@v1r0x What do you think?

[2017-10-09 13:02] joergmschulz commented on #175
this would be a 0.8, I presume.
Which is the Fork where testing is needed most, currently?

[2017-10-09 15:36] v1r0x commented on #175
@dartcafe I agree with @joergmschulz. A lot of (visual) changes and code changes. 0.8 is good. Maybe even 1.0, since it has all basic features and good looking UI. :)

[2017-10-09 17:04] dartcafe commented on #175
0.8 is ok. But there is lot work to do. I would like to rewrite the goto.tmpl.php to change to flexbox as well and the create/edit page needs some enhancment (rewrite) too. At least the js code is not that easy to understand. So I think we have one more milestone before the 1.0.

The #166 is ok for testing and possibly for merging.

But we have to think about the OC compatibilty, because NC can co

[2017-10-09 17:11] v1r0x commented on #175
Ok, 0.8 then :)
Should "we" (you ;)) rewrite the other templates before 0.8 or in 0.8.x?

Sorry for the JS-code. Is one of my first JS/jQuery-Code 😅

I try to review it the next days.

Separate release is ok I think. NC and OC need modified zips for the app stores anyway.

[2017-10-09 18:15] #172 closed

[2017-10-09 19:38] dartcafe commented on #175
Don't worry about the code. I does what it should do. No rewrite before 0.8. I save this for the next milestones. I had to unerstand some more things about Nextcloud's API and the way the NC apps works. I thing I got deeper in in, so I can try to rewrite the Polls page. In the end, I have to change from the row orientation to a cloumn orientation, because the width of the header cells is variable.

[2017-10-09 19:50] dartcafe commented on #175
Hey @splitt3r. Looks great, but I do not know how to handle it right now. I fear we have not enough tests and I don't know how to write them. Will be a step for my next evolution.

As far as I see, it is valid for your branch, right? So we have to install it for the original master branch?

After that I try to understand, how it works.

[2017-10-09 20:26] splitt3r commented on #175
I think it would be a good idea to create some tickets with all the refactor tasks so we can split the tasks and update the progress.

[2017-10-10 05:04] dartcafe commented on #175
@v1r0x Can you add some milestones for planning and creating the changelog?

[2017-10-10 05:16] dartcafe commented on #125
Fixed in #166

[2017-10-10 05:16] #125 closed

[2017-10-10 12:10] dartcafe commented on #165
NC 11 cannot (correctly) compile the SCSS. Maybe a special release for NC 11 with compiled css files can be packed.

[2017-10-10 12:16] dartcafe commented on #165
I added the compiled CSS files to the branch.

[2017-10-10 12:16] #165 closed

[2017-10-10 12:21] v1r0x commented on #165
So NC 11 is supported? Then we should revert #174 :wink:

[2017-10-10 12:59] dartcafe commented on #165
@v1r0x Already committed support for 11 in the master branch. But the question is, if we should lift the min OC version. I'm not sure, if it is compatible to prior versions than 10.

[2017-10-10 16:08] xXSTrikeXx commented on #165
@dartcafe I woul suggest to let it so and let the community test it ;) Otherwise force the user to update, to make a build receipt ;)

[2017-10-10 17:42] dartcafe commented on #165
This is no problem, because we have to ship the CSS files for OC. So this release can support it. I will remove it for the 0.9 release then.

[2017-10-11 09:38] splitt3r opened #178 "Rework Email"
The email notifications need an overhaul. We should consider using the Nextcloud default template just like:

Nc: https://github.com/nextcloud/quota_warning/blob/master/lib/CheckQuota.php#L196-L234 vs.
oC: https://github.com/owncloud/calendar/blob/master/controller/emailcontroller.php#L111-L129

That way the emails match the other Nc emails and look very well. We also should consider to use email

[2017-10-11 09:39] splitt3r opened #179 "Remove deprecated methods"
ToDo:

- [X] Remove deprecated methods
- [X] Remove loose comparism in PHP
- [X] Add model protperty types
- [X] Test against Nc and oC
- [X] Add occ app:check-code to Travis CI

[2017-10-11 09:42] splitt3r commented on #175
@MorrisJobke is it possible to activate Transifx and Travis CI for this repo? Can you help us setting up Transifex?

[2017-10-11 09:55] v1r0x commented on #179
I think this depends on the versions we want to support. At least NC11 should be supported. Maybe even NC10. Any other opinions? @dartcafe @splitt3r

[2017-10-11 09:59] splitt3r commented on #179
Yes you are right. The info.xml lists NC 11 as min version but we have to also check against oC. I think i will check wich methods are deprecated in all our supported systems once i have the time to investigate.

[2017-10-11 10:40] dartcafe commented on #175
OK. As far as I see, #176 is merged to rc-0.8 and #171 directs now to rc-0.8. So if there are no more issues or conflicts, I would merge #171 to rc-0.8 branch, so we have an consolidated branch for testing.

[2017-10-11 10:43] dartcafe commented on #179
I would only support NC11 and up. With the release of NC13, we should drop support for NC11, because there are some major changes. I.e. the support of SCSS.

OC10 works with one issue: The plus sign for new polls is missing.

I have setup some instances for OC10, NC11-13. If you like, you can test there. I will put the 0.8 there.

[2017-10-11 11:35] splitt3r commented on #175
Sounds good. I think we won´t need #166 anymore then or are there any changes left not in RC-0.8? The workflow should be to merge everything in RC-0.8 and finally merge RC-0.8 in master.

[2017-10-11 15:04] GLLM opened #180 "l10n : json error code 3"
Hi, my nextcloud logs are filled with hundreds of line about Polls.
See below :

![2017-10-11_17-01-05](https://user-images.githubusercontent.com/3989573/31449081-45f30222-aea6-11e7-9f14-9d4b17a6ecc0.png)

Nextcloud 12.0.3 stable (**not** docker)
NC language French
Server : Ubuntu 16.04
Apache 2.4 + PHP 7+ Letsencrypt

Not sure why,
I tried to open the json file and it did not look corrupted.

Tha

[2017-10-11 18:34] xXSTrikeXx commented on #179
@dartcafe there? Where I can test?

[2017-10-11 18:34] splitt3r commented on #180
Next Version should fix that. There were several unescaped " in the link tags.

[2017-10-11 19:45] GLLM commented on #180
Duly noted, cool. Because it prettry flooded my nextcloud logs :)

[2017-10-13 09:22] dartcafe commented on #96
@nextgen-networks @v1r0x: This Issues still points to the 0.7.4 milestone. I cannot reproduce this. Is this bug still present or could we close the PR?

[2017-10-13 09:28] dartcafe commented on #11
This is a very important issues, at least for the js code. @v1r0x: Can you add some code commets to the create_edit.js? This could help to optimize that.

[2017-10-13 11:20] #180 closed

[2017-10-13 11:23] dartcafe commented on #175
@v1r0x I think it is your part to make releases, right? I don't know how to do that.

[2017-10-13 11:23] #169 closed

[2017-10-13 11:24] dartcafe commented on #143
Since there is no relevant user story for that, I recomment closing this issue.

[2017-10-13 11:25] splitt3r commented on #175
@dartcafe [this](https://github.com/nextcloud/polls/blob/master/screenshots/overview.png) screenshot is outdated isn´t it? And could you remove the mouse pointer [here](https://github.com/nextcloud/polls/blob/master/screenshots/new-poll.png) 😀

[2017-10-13 11:26] dartcafe commented on #99
Keeping issues for disussion is no good idea IMHO. We should keep the issues clean.

[2017-10-13 11:26] #99 closed

[2017-10-13 11:27] dartcafe commented on #98
Closing this issue, because this is a feature for planning appointments, but not for a poll. Anyway this is very complicated and heavy weight for this app.

[2017-10-13 11:27] #98 closed

[2017-10-13 11:28] #143 closed

[2017-10-13 11:28] #33 closed

[2017-10-13 11:58] v1r0x commented on #175
Thanks for the changelog @splitt3r ! I'm not sure whether the list of changes is complete or not. Could you make a PR so we can discuss the completeness there?

@dartcafe Will release a new version after the changelog is updated.

[2017-10-13 20:11] v1r0x commented on #175
Anybody ready for a release?

[2017-10-13 20:27] jancborchardt commented on #175
@splitt3r I can't add Travis or Transifex (or don't know how). Could you ask in #nextcloud-dev if someone knows? Otherwise cc'ing @MorrisJobke (on vacation) and @LukasReschke

[2017-10-13 21:32] dartcafe commented on #175
@v1r0x Sorry. Found a bug in the css and commited the minor fix to master. No more issues by me.

[2017-10-13 23:07] v1r0x commented on #175
@dartcafe thanks. I'm not at home this weekend. Try to release the new version on the appstore on Sunday.

[2017-10-14 06:36] dartcafe commented on #175
BTW: Can you add me to the collaborateurs in the settings settings. I want to know, if I can add travis to the project. If not, you have to get it via the marketplace.

[2017-10-14 07:12] splitt3r commented on #175
No we simply need one of the org admins to activate it.

[2017-10-14 07:25] v1r0x commented on #175
@dartcafe done :)

[2017-10-15 16:38] dartcafe commented on #175
Is it possible to make different releases? I.e. for OC and NC?

[2017-10-15 17:46] dartcafe commented on #179
Register at https://nc12.yagst.de. I will transfer the users to the other instance manually including the mail address.

[2017-10-15 19:08] v1r0x commented on #175
One release and two modified uploaded zips should be best

[2017-10-17 09:41] dartcafe commented on #175
🍾

[2017-10-17 09:46] v1r0x commented on #175
I can sign the tar.gz for nextcloud only at home. New version should be available from the app store tonight :)

For the owncloud release maybe @kdslkdsaldsal or @hurradieweltgehtunter (#128) can help here?

[2017-10-17 19:38] v1r0x commented on #175
0.8.0 is released on nextcloud app store :)
https://apps.nextcloud.com/apps/polls

[2017-10-17 19:58] kdslkdsaldsal commented on #175
@v1r0x I don't know the marketplace of ownCloud but @hurradieweltgehtunter asked how he can help you in https://github.com/nextcloud/polls/issues/128 😃 Maybe you can explain the issues you're facing while uploading / publishing the app in https://github.com/nextcloud/polls/issues/128 as its not clear what issues you're facing?

[2017-10-18 06:07] dartcafe commented on #175
Great! Updates were fine so far, as I see. 👌 But we should remove the unnesecary files for the next release, as there are the support files contained (.* etc.)

[2017-10-18 07:14] splitt3r commented on #175
We could use / adopt https://github.com/nextcloud/polls/blob/master/Makefile#L127 for that.

[2017-10-18 07:41] v1r0x commented on #175
I missed the Makefile. Good point @splitt3r Gonna use it for 0.8.1 :wink:

[2017-10-18 10:14] splitt3r opened #187 "Add favicon"
Besides the app icon we should add a favicon to the app. Most of the official apps do that but we have to find a way to choose nc / oc app favicon because they have different bg colors.

![Favicon](https://user-images.githubusercontent.com/1869584/31713145-9a1624fe-b3fd-11e7-93f2-811f81caa4a0.png)

And we should rename the app icon to `app.svg` so it shows up here:

![Manage apps](https://user-ima

[2017-10-18 11:11] hanzei opened #188 "[Feature Request] Integrate with notifications app"
Notifications should appear when:

- [x] Poll is shared with a user
- [ ] ~~Poll is over due date~~
- [ ] ~~All participates voted~~

More notifications after integrating activities (#804).

See: https://github.com/nextcloud/notifications/blob/master/docs/notification-workflow.md

[2017-10-18 12:24] Hanzei opened #189 "Polls are not public accessible"
### Steps to reproduce
1. Create a public poll
2. Copy the link to the poll
3. Open the link in a other browser while not being logged in into nextcloud

### Expected behaviour
You should see the poll

### Observed behaviour
![screenshot from 2017-10-18 20-01-09](https://user-images.githubusercontent.com/16541325/31744575-9ee7020c-b45f-11e7-8b0b-bb62ccbe2508.png)

### App Version
0.8

### Related

[2017-10-18 14:14] Ludovicis opened #190 "Add an option to disable comments in a poll and disable the web link in a poll"
Can you add an option to disable comments in a poll and disable the web link in a poll please ? Thanks,
![image](https://user-images.githubusercontent.com/16205280/31723575-86dc84ec-b41f-11e7-8074-3f6677ec34c0.png)

[2017-10-18 14:17] Ludovicis opened #191 "Can you expand the name field in a poll ?"
Can you expand the name field in a poll, please ? Thanks
![image](https://user-images.githubusercontent.com/16205280/31723666-cf792b10-b41f-11e7-9d4b-e13cd205e702.png)

[2017-10-18 14:53] v1r0x commented on #191
@dartcafe Maybe a min-width of 200px or whatever for the name cell?

[2017-10-18 14:54] v1r0x commented on #190
I understand that disabled comments is a use-case, but what's the use-case for a hidden link? Or is it just about a full-width poll?

[2017-10-18 15:53] hajika opened #192 "Change in anonymous selection is not saved"
### Steps to reproduce
1. save poll as anonymous
2. edit poll and remove anonymous
3. save it again

### Expected behaviour
Names should be visible now, or at least new voter names should be visible

### Actual behaviour
Poll is still anonymous, the change has not been saved

### Server configuration
**Nextcloud version:** (see Nextcloud admin page)
12

**Browser**
Firefox

If it is not reproducab

[2017-10-18 15:59] bpcurse opened #193 "Comments cannot be deleted (or edited)"
### Steps to reproduce
1. Create new poll
2. Comment
3. Options to delete (and edit) comment are missing

### Expected behaviour
It should be possible to delete (and edit) own comments
It should be possible for admin users to delete every comment

**Nextcloud version:** (see Nextcloud admin page)
NC 12.0.3 / Polls 0.8.0

[2017-10-18 16:02] hajika opened #194 "All day events"
It looks like you are forced to pick a time, because without a time there are no cells to select. It should be possible to select a day without picking a specific time.

[2017-10-18 16:04] hajika opened #195 "avatar on public vote page can't be loaded"
In a public accessible vote, the page tries to load an avatar with a strange address https://cloud.example.com/index.php/avatar/%3F/32 That of course looks like:

![nc poll](https://user-images.githubusercontent.com/27491258/31729227-b96d284e-b42e-11e7-9ddd-dccbdcc8519d.png)

[2017-10-18 16:46] dartcafe commented on #189
I checked this. I cannot reproduce that (Polls 0.8, NC12).
https://nc12.yagst.de/index.php/apps/polls/poll/uLGUedKanOXQHckP

[2017-10-18 16:50] dartcafe commented on #190
Deactivating comments is a good idea. I packed it to the backlog. Hiding the link has no effect, as it is the only URL, how the poll can be reached.

[2017-10-18 16:52] dartcafe commented on #191
Argh. Don't do that kind of polls. :-) Just kidding. I will add a min width. But the comments are a problem as well, when polls get that big. I will think about it.

[2017-10-18 16:57] dartcafe commented on #192
I can reproduce that. @v1r0x Can you investigate?

[2017-10-18 16:59] dartcafe commented on #193
True. Something for the becklog. Thanks.

[2017-10-18 16:59] dartcafe commented on #194
Something for the overwork of creating polls.

[2017-10-18 17:01] dartcafe commented on #195
NC/OC? Version? I had this issue thru development, but fixed this. I need more information.

[2017-10-18 17:02] hajika commented on #195
NC 12.0.3

[2017-10-18 17:21] dartcafe commented on #191
Did a quick fix in PR #196

[2017-10-18 17:24] dartcafe commented on #195
Do you have a link for me with the public poll?

[2017-10-18 17:38] dartcafe commented on #175
@v1r0x: Do you need these branches anymore?
https://github.com/nextcloud/polls/tree/full-anon
https://github.com/nextcloud/polls/tree/origin/full-anon (This is already merged)

[2017-10-18 19:51] splitt3r commented on #189
Same here.

[2017-10-18 21:52] Hanzei commented on #189
![screenshot from 2017-10-18 20-01-09](https://user-images.githubusercontent.com/16541325/31734479-205b16be-b43f-11e7-98a1-c83c1f48f509.png)
https://cloud.cjf-berlin.de/apps/polls/poll/9F7Cq9HZIgPtGst8

[2017-10-19 04:12] dartcafe commented on #189
I get this error, if I try to access a public vote, which is restricted to groups. Can you check this?

[2017-10-19 04:13] dartcafe commented on #189
Sorry, if the access of the app is restricted to named groups, via the app administration.

[2017-10-19 06:49] Hanzei commented on #189
That is correct. The poll app is restricted to a group.

[2017-10-19 06:54] Hanzei commented on #189
Is this a nextcloud problem or is it fixable in the poll app?

[2017-10-19 09:00] v1r0x opened #199 "Protected master branch"
@dartcafe @splitt3r @jancborchardt I set the master branch to protected.
![screenshot-2017-10-19 nextcloud polls](https://user-images.githubusercontent.com/9248714/31762822-b845f4b2-b4bc-11e7-9194-b439058a0e80.png)

Is this too much? Or do we need even more?

[2017-10-19 09:09] splitt3r commented on #199
Looks good to me 👍

[2017-10-19 10:23] Ludovicis commented on #190
The link of url can be reached when we create the poll with "copy link"
![image](https://user-images.githubusercontent.com/16205280/31766586-4ae26c5a-b4c8-11e7-83f6-f81f85c651a0.png)

[2017-10-19 11:48] lachmanfrantisek opened #200 "Icons not loaded"
Hi,

thank you for the big UI improvements in this release. I'm having a problem with missing SVG icons.

I'm using the [wonderfall/nextcloud](https://hub.docker.com/r/wonderfall/nextcloud/) docker images, where I have also problems with this:
https://github.com/nextcloud/server/issues/5289
(Not sure, if it is related.)

Tested on:
- nextcloud 12.0.3.3 (beta) - update polls from `0.7.0` to `0.8.0`

[2017-10-19 13:03] Ludovicis commented on #191
Yes it work for me :) Thanks,
![image](https://user-images.githubusercontent.com/16205280/31772068-a17495dc-b4de-11e7-832a-ec91f83c312c.png)

[2017-10-19 13:06] splitt3r commented on #175
@v1r0x we could add parts of https://github.com/owncloud/guests/blob/master/Makefile to have a make appstore-nc + make appstore-oc.

[2017-10-19 13:12] jancborchardt commented on #199
Yeah, looks good to me too, good call! Can always be adjusted when needed too. :)

[2017-10-19 13:12] #199 closed

[2017-10-19 14:04] v1r0x commented on #175
Sounds good! Can you make a PR?

[2017-10-19 14:05] splitt3r commented on #175
I will have a look at it together with https://github.com/nextcloud/appstore/issues/529.

[2017-10-19 16:46] #192 closed

[2017-10-19 16:51] #191 closed

[2017-10-19 17:24] dartcafe commented on #200
There seem to be some strage rewrites in this installation. The http status of the icons is 302. When I try to access the svg directly, i get redirected to the root. When I try to access an icon from the tsks app, I find it in the subfolder /apps2/tasks/img/ under the root. Is it possible, that the apps are installed outside the docroot or outside the nextcloud root?

[2017-10-19 17:31] dartcafe commented on #200
For some reason, I can access the icon via [root]/apps2/polls/img/open-unvoted-vote.svg on your server.
I have not a glue, how to fix that...
@lachmanfrantisek I registered on your site. You can delete my account. Rewust for deletion does not work in the personal settings.

[2017-10-19 17:34] dartcafe commented on #195
@hajika Do you have a similar setup like in #200?

[2017-10-19 19:17] lachmanfrantisek commented on #200
Thanks for looking in to it.

Yes, you are right. The `app` folder is outside of the `nextcloud` folder. This causes also the problems with scss files (the issue from server I've mentioned before).

@Wonderfall  Please, do you have any ideas about it? Do you have same problems in your setup or am I doing something wrong?

No problem, it's only for testing...

Another (maybe similar) problem I had

[2017-10-19 21:04] dartcafe commented on #200
I think the problem is, that the icons are loaded via scss and not via php. It could be managed by loading the status icon via php, but not the yes and no icons, because they are interactive.

[2017-10-19 21:23] lachmanfrantisek commented on #200
OK, so I have to wait for the fix of the problem with `scss` files on the server side? (Now, I used to remove the `scss` files from the `css` directory.)

`Yes`/`No` icons are not such important as the other icons. But I do not want to force you to some hacky solutions.

Nevertheless, thank you for investigating it.

[2017-10-20 04:26] dartcafe commented on #200
Does it work after removal of the scss files and leaving the css?

[2017-10-20 04:35] dartcafe commented on #189
@juliushaertl Can you say, if it this problem is resolvable via app or is this an issue in the core?
When an app is restricted to groups, public pages are no longer accessible for users, which are not logged in.

[2017-10-20 06:23] lachmanfrantisek commented on #200
Unfortunately no.

Without removing the `scss`, there is no styles loaded. After removal, the style is OK, but the icons are not loaded. I need to do the removal in all apps which switched to the `scss` (deck, circles, contacts). In other apps, the icons are fine. (Maybe the reason is in `scss` and `php`, as you sad, but I do not know much about `php`/`css` stuff.)

[2017-10-20 06:49] Tealk opened #201 "Select date from to"
Hi,

is it possible to add a feature to select date and time from ... to ...?
eg. if i will create a poll for a whole week I have to choose each day individually, but it would be nice if i click on mondey and slide to the friday

[2017-10-20 06:55] joergmschulz commented on #201
Make a text-poll

[2017-10-20 17:00] dartcafe commented on #201
Maybe, this could be a nice feature, but I am afraid, this would break the existing concept. I will think it over, when designing the poll creation.

[2017-10-20 17:03] dartcafe commented on #200
You could edit the css files and point the svg-resource to the apps2 folder.

[2017-10-21 09:18] lachmanfrantisek commented on #200
Thanks for the tip. I've changed the urls in `css` and the icons are OK. Thank you!

`../../../apps/polls/css/../img/yes-vote.svg` -> `../img/yes-vote.svg`

I do not understand, why there is such a weird path.

[2017-10-21 12:37] dartcafe commented on #200
It is generated from the scss compiler in nextcloud. I will correct this in the css files.

[2017-10-21 13:01] dartcafe commented on #200
I updated the css files in PR #203. Can you confirm the fix?

[2017-10-21 13:05] dartcafe commented on #188
Personally, I don't like to add too much things to the notificartion app, because I am afraid, that importent information maybe will get out of scope. We should discuss this. There is already an email notification. Should we keep both or should both notifications resist side by side?

I have no final idea.

[2017-10-21 14:18] radoeka opened #204 "[Feature Request] Is integration with circles possible?"
### Steps to reproduce
1. Feature request

Is it possible to integrate polls with circles for access restriction?

Circles: https://apps.nextcloud.com/apps/circles

For example the files app is using circles to determine who can access what.

[2017-10-21 17:18] radoeka opened #206 "User name is prefixed with user_, + incorrect translation"
### Steps to reproduce
1. Create a poll
2. During the poll creation, select a single user to access the poll
3. Go to the poll home main page
4. Have a look at the newly create poll

### Expected behaviour
1. The user name should be listed without the  'user_'   prefix
2. Dutch translation is wrong (geleden is past).  The translation should be just 3 dagen or 'over 3 dagen'

### Actual behaviour
1

[2017-10-21 18:21] radoeka opened #207 "Poll not displayed correctly in Chromium (at linux)"
### Steps to reproduce
1. Create a poll
2. View the poll in Chromium
3.

### Expected behaviour
  The poll should be displayed correctly  (with red, yellow and green colors)

### Actual behaviour
  No table and no colors, see screenshot

![image](https://user-images.githubusercontent.com/2937666/31854639-ddb2202c-b69c-11e7-8ceb-70efe9774d35.png)

The table is shown correctly in firefox.

### Serve

[2017-10-21 18:52] dartcafe commented on #206
@v1r0x Is the issue with the username related to #82?
The translation comes from the core, but it is not a translation error, the calculation is a bug, because it always assumes, that the timespan always directs to the past. There is a merged PR for NC13 (https://github.com/nextcloud/server/pull/6837).

[2017-10-21 19:45] splitt3r commented on #207
Any errors in the dev tools console?

[2017-10-21 21:24] v1r0x commented on #206
@dartcafe yes, this is related.

[2017-10-21 21:28] v1r0x commented on #188
If we decide to integrate the notifications app, I'd remove the mail notifications. But I have the same concern as @dartcafe
Maybe @jancborchardt or @splitt3r have a "better" opinion 😉

[2017-10-22 05:04] radoeka commented on #207
Not related to the page (the reported error is seen at (all) other pages).
I verified with Chrome at windows (same version), and there it is displayed correctly.

[2017-10-22 05:55] dartcafe commented on #206
For the datespan and timespan checks, I asked for backports:
https://github.com/nextcloud/server/pull/6896
https://github.com/nextcloud/server/pull/6897

[2017-10-22 06:05] dartcafe commented on #207
And which error is reported?

[2017-10-22 06:20] dartcafe commented on #207
I testet on Chromium 61.0.3163.100 on Ubuntu 17.10 (64 bit): No issues...
Is it possible, that this is a caching issue?

[2017-10-22 07:56] radoeka commented on #207
Reloading the page resulted made it work.

Any idea why the page was not loaded correctly initially?  As I did not know what to expect, the page looked rather odd.  As such I did not think of reloading the page.

Issue is about to get closed.

[2017-10-22 08:20] jancborchardt commented on #188
@nickvergessen is there any guideline for this?

I'd say it should go to the notification app, and the settings if it's online or via email too are handled via that API and in the settings, right?

[2017-10-22 08:21] radoeka opened #209 "Display comment field and url information at the bottom of the poll page"
### Steps to reproduce
1. Create a poll
2. Look up the poll
3.

### Expected behaviour
Comment field and url information are displayed at the bottom of the poll page
It makes the page easier for the eye.
More timeslots can be displayed next to each other.
When the position right as well as at the bottom are desired, could it be made configurable?  So the admin can determine where it is displayed.

[2017-10-22 08:30] radoeka opened #210 "Position "Receive notification email on activity""
### Steps to reproduce
1. Create a poll
2. As user visit the poll
3.

### Expected behaviour
The button and text "Receive notification email on activity" should be left aligned with the table and 'vote' button above it.

I think that it would be better to first display the text "Receive notification email on activity"
and after that put the vote button
As one reads from top to bottom, with the pro

[2017-10-22 08:40] splitt3r commented on #188
I also think that integrating the notifications app would be a good idea. The notifications are pushed to mobile client / desktop client anyway so i think it´s a pretty nice way to notify the user.

[2017-10-22 08:44] v1r0x commented on #207
If you had an older version of polls installed your browser has some of these files cached for faster page load and network traffic. Even if the content has changed, your browser loads the cached files instead of load the new files. `Ctrl + F5` should help in most cases.

[2017-10-22 08:44] #207 closed

[2017-10-22 08:57] radoeka commented on #207
I did not have polls installed before.  That's why it is confusing.  Initial setup, initial visit resulting in incorrect displaying of the poll.  Anyway, problem was indeed solved by Ctrl + F5

[2017-10-22 09:11] radoeka commented on #210
A bit related to #190

[2017-10-22 15:59] #200 closed

[2017-10-22 16:00] lachmanfrantisek commented on #200
Thank you for the fix.

[2017-10-22 16:03] dartcafe commented on #195
I tried, but I couldn't reproduce that. Without further information, it is impossible to investigate further.
@hajika If you cannot give more information, will mark this issue as solved.

[2017-10-22 20:48] nickvergessen commented on #188
Currently there are no settings. Guidelines are “dont spam please“.
From the things listed above, I'd say:
* Shared ✅
* all voted/due date: creator only is okay, others can be informed by the creator

[2017-10-22 21:31] jancborchardt commented on #188
Good call @nickvergessen! :)

[2017-10-23 04:43] dartcafe opened #211 "Poll shows wrong time on the day of daylight saving change"
Polls show the wrong time in the poll, on the day, the day light saving changes.

1. Create a date poll with an option on 2017 October 29th 9:00
2. The poll shows an option for 2017 October 29th 8:00

All other dates (28th and 30th for example) are interpreting the time zone correct.

[2017-10-23 10:10] #175 closed

[2017-10-23 10:11] v1r0x commented on #128
https://marketplace.owncloud.com/apps/polls

[2017-10-23 10:11] #128 closed

[2017-10-23 12:43] dartcafe commented on #211
Note to @dartcafe
Short analysis:
- The calculated time in the vote page is correct referring the stored time (from Oct. 29th on time in Europe is UTC+1).
- The stored time seems to not respect the ending of daylight saving on Oct 29th.
- Behavior is correct before Oct 29th (UTC+2) and after it (UTC+1).

Reproduce Poll with following options:
28.10.2017 07:30 -> DB value '2017-10-28 05:30' ✅ -> vo

[2017-10-23 13:03] v1r0x commented on #211
@dartcafe Isn't the UTC time written to the DB?

[2017-10-23 15:39] splitt3r opened #214 "Unit tests"
As we have Travis CI running Nc and oC tests now we also need some unit tests at least for the following parts:

- [X] CommentMapper
- [X] DateMapper
- [X] EventMapper
- [X] NotificationMapper
- [X] ParticipationMapper
- [X] ParticipationTextMapper
- [X] TextMapper

[2017-10-23 19:18] dartcafe commented on #211
Yes. But it seems, that the time is assumed to be UTC+2, but it is UTC+1 from Oct 29th on.
See https://nc13.yagst.de/index.php/apps/polls/poll/b8oIJNNjpx7Rkyei

[2017-10-23 19:27] dartcafe commented on #214
I would like to help, but I have no idea on doing that. If I have a pattern, maybe I can support....

[2017-10-23 20:52] v1r0x commented on #211
https://github.com/nextcloud/polls/blob/master/lib/Controller/PageController.php#L478 is the line where it's added to the db. I'll have a look at phps `date` function and how `$el` is formatted tomorrow.

[2017-10-24 07:14] splitt3r commented on #214
[Deck](https://github.com/nextcloud/deck/blob/master/tests/unit/Db/AclMapperTest.php) is doing a good job on testing i think. We could start writing CRUD unit tests for our mapper classes.

[2017-10-25 08:16] v1r0x opened #219 "Authors update"
@dartcafe @splitt3r
You both did an awesome job with 0.8.0. But I get all the _fame_. I didn't want to add you to the `<authors>` in `info.xml` without asking. So please feel free to open a PR with your names added :)

[2017-10-25 08:19] v1r0x opened #220 "OC Screenshots"
After I uploaded the package to the oc marketplace, I got a mail that it violates the marketplace guidelines (reference to a cloud storage provider which is not oc... :roll_eyes: ).
@dartcafe Am I right that you have a oc instance running? If so, could you add one screenshot for oc?

[2017-10-25 08:29] splitt3r commented on #219
Thx 😄 will add it to https://github.com/splitt3r/polls/tree/unit-tests once it´s working

[2017-10-25 08:52] dartcafe commented on #219
You do not only get all the fame, you get also all the complains. 😆
It's OK to add me. Take nextcloud at dartcafe.de as mail address.  😊

[2017-10-25 08:53] dartcafe commented on #220
I can make some screenshots, or we just cut out the NC header.

[2017-10-25 09:02] v1r0x commented on #219
@dartcafe And you fix most of them :wink:

[2017-10-25 09:15] splitt3r commented on #220
But it´s not possible to show different screenshots for oC / Nc store isn´t it? The screenshot urls are hardcoded in the info.xml and i think it´s not worth it to add some magic to the Makefile only to adopt the screenshot urls.

[2017-10-25 09:45] splitt3r commented on #220
We should also add all the screenshots to the info.xml file.

[2017-10-25 15:20] dartcafe commented on #220
#222. I just removed the header.

[2017-10-25 15:22] dartcafe commented on #219
Cool, he? If you consider, that I am no programmer. 🥇 😆

[2017-10-25 15:26] dartcafe commented on #204
This is a good idea, but I fear we will not begin the integration soon. I will take it to the backlog.

[2017-10-25 15:30] dartcafe opened #223 "Usernames not checked on public polls"
### Steps to reproduce
1. Create a public poll
2. Enter the public poll as a not logged in user
3. Choose a valid username and vote / comment

### Expected behaviour
i.e. An error message should appear, that the choosen user name is already in use

### Actual behaviour
The user name is accepted and votes in the name of somebody, who already voted (votes are changed) or in the name of a nextcloud u

[2017-10-25 15:31] dartcafe commented on #195
Obviously the issue does not exist anymore. Please reopen, if it still exists...

[2017-10-25 15:31] #195 closed

[2017-10-25 15:33] dartcafe commented on #206
Nextcloud PRs are merged for the NC12-stable and NC11-stable branch. Wait for new version or apply the patch.

[2017-10-25 15:36] dartcafe commented on #190
I plan to push the comments and optins to a sidebar, so it is not on the polls pages. Let's dicuss the possible solutions later.

[2017-10-25 15:37] dartcafe commented on #189
I fear, it is by design. But I will investigate later.

[2017-10-25 16:35] theonlytruth commented on #59
Today I tried polls and had this problem again. Can someone confirm this?

[2017-10-25 19:46] juliushaertl commented on #189
When an app is restricted to groups, public pages are no longer accessible for users, which are not logged in.

Looks like a bug in the server. Also doesn't work with gallery limited to specific groups. Mind opening an issue?

[2017-10-25 20:07] dartcafe commented on #59
Jup. Confirmed.

[2017-10-25 20:17] dartcafe commented on #189
OK. Done. I close this here.

[2017-10-25 20:17] #189 closed

[2017-10-26 16:26] MeCias opened #225 "If polls app is limited to a group (admin) public link is not working"
Hi,

I just noticed (without investigating it any further) that as soon you limit the app access to a specific group like admin you are not allowed to share a poll publicly. It says the app is not enabled. Not sure whether it is a bug or a feature.

[2017-10-26 16:56] v1r0x commented on #220
Hmm...I'm not happy with removing the NC header just because the OC marketplace has annoying restrictions. I'll check if it is possible to select another screenshot in the marketplace or rather drop OC support than live with their restrictions (I mean restrictions were all other NC users have restrictions too, such as not that cool screenshots). But that's just my opinion. What do you think?

[2017-10-26 16:57] v1r0x commented on #225
Definitely a feature! :stuck_out_tongue:
No, of course that's a bug. There should be another issue with that problem, but I couldn't find it. @dartcafe Any idea which one it is?

[2017-10-26 17:13] dartcafe commented on #225
See here: #189 and https://github.com/nextcloud/server/issues/6962
This feature is caused by the core.

[2017-10-26 17:13] #225 closed

[2017-10-26 17:15] MeCias commented on #225
Thanks a lot.

[2017-10-26 17:21] dartcafe commented on #220
To have some good screenshots, I have to build up representative polls. Doing it in two instances, is annoing. So removing the header is a acceptable agreement for me, besides the manual work of the CSS files.

But as @splitt3r mentioned here #178, reworking the mail will cause more doubling.

On the other hand, the release is usable in OC as well, even if it is not in the OC app store.

[2017-10-26 17:23] dartcafe commented on #187
I will build a favicon, although, I don't like the solution of NC handlig another favicon for every app. I use a coule of NC instances and on my iPad, all icons are the favicon of the files app. 👎

[2017-10-26 17:33] theonlytruth commented on #187
For me the use of different favicons of NC is good. When I opened different apps of one cloud in separate tabs I can easily switch to the one I want. So for example I could leave mails and calendar open and work in another tab with files. Multiple clouds at the same time would be a much more special use case for me. ;-)

[2017-10-26 21:31] splitt3r commented on #220
We could create screenshots with some -nc / -oc naming convention and replace the urls in the info.xml file in our Makefile.

One thing i don't like about the screenshots without header is that the theme colours don't match the Nc / oC main colours and so they look out of place in one of the appstores.

[2017-10-27 04:12] dartcafe commented on #220
I will think about some database imports for showcases.

[2017-10-27 08:23] v1r0x commented on #220
I think that's a good compromise.

[2017-10-28 13:23] splitt3r commented on #204
I will have a look at it together with #82. If we implement some sort of acl i think sharing with a cirle would be not that big deal.

[2017-10-28 14:10] splitt3r commented on #219
@dartcafe added you [here](https://github.com/nextcloud/polls/pull/224/commits/b4a4fe60069981ccd283c7760dd12a3e85b65651) so we won´t have a merge conflict 😁

[2017-10-28 14:11] splitt3r commented on #220
@v1r0x @dartcafe https://github.com/nextcloud/polls/pull/224/commits/b4a4fe60069981ccd283c7760dd12a3e85b65651 gave it a try. What do you think? @dartcafe you would need to update the -oc screenshots.

[2017-10-29 12:48] splitt3r opened #227 "None existing poll leads to server error"
### Steps to reproduce
1. Create a public poll an copy the link
2. Delete the poll
3. Visit the link

For example: https://nc13.yagst.de/index.php/apps/polls/poll/b8oIJNNjpx7Rkyei

### Expected behaviour
Sth. like: https://github.com/nextcloud/gallery/blob/669c17b4e3a9ffbb2901d78378db3f7702a0cc06/lib/Controller/PageController.php#L131-L156 a nice 404 error page

![Gallery error page](https://user-

[2017-10-30 13:47] jancborchardt opened #228 "Move list of polls into left .app-navigation, use .app-content exclusively for poll content"
As mentioned in https://github.com/nextcloud/polls/pull/166#issuecomment-335975706

[2017-10-30 17:36] dartcafe commented on #228
I thought over this a lot of times and I am not happy with the navigation bar for the polls list. When there are many polls, the navigation can mutate to a huge list of polls. And there will be missing details for organisation, which can be important. Finding the right poll on a list with details can be more easy, than finding it via the tight list on the left.

Additionally the app navigation can

[2017-11-01 16:52] dartcafe commented on #187
See PR #229

[2017-11-01 16:57] dartcafe commented on #187
Icon shows up in the apps list, but I have no idea how to force the theming app to youse the app icon.

[2017-11-01 17:47] tYYGH opened #230 "Mostly hidden description when creating a new poll"
### Steps to reproduce
1. Create new poll

### Expected behaviour
See description.

### Actual behaviour
Mostly hidden description. Here I typed some random text so that you can see the spell-checker underlining in red:
![image](https://user-images.githubusercontent.com/5556825/32288624-ca44a9b0-bf34-11e7-869c-7ebc90369ac8.png)

### Server configuration

**Operating system**: up-to-date Archlinux

[2017-11-02 11:31] tYYGH commented on #230
Some more information: While all actual requests do have the status 200, it seems that some requests are missing, due to *Content Security Policy*; I had missed that in the browser console:

[code]
As things stand, Polls is plain ugly, to the point of being barely usable (you have to guess where you are expected to click…). I suppose some CSS is missing.

Some vocabulary:
* “la source dupliquée …

[2017-11-02 17:10] dartcafe commented on #230
Seems, that the css is not loaded properly. If a forced browser reload does not help, please try to delete the css (not the scss) files in the apps css directory.

[2017-11-02 17:32] tYYGH commented on #230
@dartcafe, no-cache reloading does nothing.
I tried removing all (5) css files, but it gets worse. But then, it is to be expected because URLs ending in “.css” are served as files directly by the web server, so these files must exist beforehand.

[2017-11-02 17:54] dartcafe commented on #230
The css files are only delivered because of compatibility to NC prior to 12 and OC. Since NC 12, there is a scss compiler build in, which generates the css files on change of the scss files.

I cannot reproduce this issue. Does the browser console present any errors?

[2017-11-02 18:38] dartcafe commented on #209
As the comments went to the side bar, I close this issue.

[2017-11-02 18:38] #209 closed

[2017-11-02 18:41] dartcafe commented on #210
I would prefer, to put it behind the vote button on the right side. Or to the sidebar, but we need to persist the choice in the moment the toggle is switched. But this could be complicated, if the user does not vote...

[2017-11-03 09:08] splitt3r commented on #227
@v1r0x could you take care of this one? I think this should be a hotfix once it´s done. I have very rare time at the moment.

[2017-11-03 09:12] v1r0x commented on #227
@splitt3r I try to find some time for polls this weekend, but can't promise anything.

[2017-11-03 09:16] splitt3r commented on #48
The datepicker translation problem is somehow covered by #156 the rest should be solved.

[2017-11-03 09:16] #48 closed

[2017-11-03 09:19] splitt3r commented on #57
@v1r0x we could try to implement some install step here but it´s not worth it isn´t it?

[2017-11-03 09:26] v1r0x commented on #57
@splitt3r Could you explain "install step"?

[2017-11-03 09:37] splitt3r commented on #57
I think before it was called repair step or sth. like that now it´s bundled in the [migrations](https://github.com/nextcloud/spreed/tree/master/lib/Migration) we could check somehow if a migration from the old polls app is needed in there.

[2017-11-03 09:51] v1r0x commented on #57
Good to know. But yes, I think it is a lot effort to implement and test. Also this is a rather old issue and the new polls app is around for a while. I'd close this issue.
If this is still relevant please reopen.

[2017-11-03 09:51] #57 closed

[2017-11-03 12:17] dartcafe commented on #57
OK for now, but we need a migration for new versions. Wehn features will come over, I beleive, we have to migrate the db in some versions.

[2017-11-03 12:20] dartcafe commented on #227
Redirecting to `no.acc.tmpl.php` should be enough.

[2017-11-03 12:20] splitt3r commented on #57
That should be no problem with the new migration system in nc. I don´t know how about oc :/

[2017-11-03 13:11] tYYGH commented on #230
@dartcafe, the errors I have are in my 2nd message, and seem to be about Content Security Policy.

[2017-11-03 13:32] tYYGH commented on #230
I tried completely disabling the HTTP Content-Security-Policy header, but this does not solve the problem: now the Firefox console has neither error nor warning, and still all requests have the status code 200 (and I ran that with no browser cache), but the UI remains the same, with missing CSS, somehow…
Besides, I ran the same test in Chromium (rather pristine since I “never” use it), and I get t

[2017-11-04 05:26] dartcafe commented on #57
Is there any documentation about the migration system?

[2017-11-04 09:31] splitt3r commented on #57
For now https://www.schilljs.com/2017/09/08/migrations-for-nextcloud-apps.html is the only documentation i think.

[2017-11-04 10:15] dartcafe opened #232 "[Discussion] Remove the status "unvoted""
IMHO the status "unvoted" is obsolete, because it has no message in the sense of a poll. Either you say "yes" or "no". The status "maybe" is a compromise, which means yes, but with a lower priority.

What is unvoted good for? As an owner of a poll, I want to have a concrete answer for my question and no I will maybe decide later.

What do you think?

[2017-11-04 10:25] dartcafe commented on #230
I am not sure, if the HTTP Content-Security-Policy has any relationship to this issue, but I don't want to state it for sure.

In your server log, you have an error on the files
`/css/polls/fd255ae37aa59fba53b3cbd164554418-main.css` and
`/css/polls/fd255ae37aa59fba53b3cbd164554418-createpoll.css` which seems to be a problem indicator of creating the css files out of the scss files.

Did you try to

[2017-11-04 11:21] tYYGH commented on #230
@dartcafe I agree with you that the CSP errors are not related to my CSS problem (see https://github.com/nextcloud/polls/issues/230#issuecomment-341704111).
As for the browser console logs, I _did_ gave them! (see https://github.com/nextcloud/polls/issues/230#issuecomment-341394002); they’re not much help, though…

The issue indeed probably lies with these 2 errors in the server logs, as you point

[2017-11-04 12:29] dartcafe commented on #230
I assume the problem is located in your installation.

NC generates the css files out of the apps scss files and access them via a redirect or any comparable method. You will not find these in the apps css folder, but under data/appdata_[someRandomString]/css/polls/

You can check, if the data folder and all it's subfolders are writable by the webserver's owner.

Judging from your small screenshot

[2017-11-04 16:30] v1r0x commented on #232
Is it actually used at all? Or is it simply the default for new voters?
I'd suggest to switch to _maybe_ as default (same as dudle) and remove _unvoted_ if not used.

[2017-11-04 16:42] v1r0x commented on #103
Going to close this in favor of the new UI in #148
Thanks at both of you @amittel and @dartcafe !

[2017-11-04 16:42] #103 closed

[2017-11-04 16:52] v1r0x commented on #59
It's all your fault @dartcafe 😝 see #233

[2017-11-04 18:13] v1r0x commented on #211
I had a look at the timestamps coming from JS (the values in `$el`) and they are wrong. I think this is a bug in the datepicker lib. I also tried the latest version (2.5.11) and it doesn't work.

[2017-11-04 20:44] #227 closed

[2017-11-04 20:48] dartcafe commented on #232
It's the default and has no further meaning, besides the message, that the user did not decide.

Default to 'maybe' is no good solution in my opinion, because the user did't explicitly says yes to the option, he didn't vote. So I would interprate it as a 'no', because maybe means 'yes, but...'

So I would change the default to 'no'.

[2017-11-04 20:55] dartcafe commented on #211
Hmmm. I would say, overwork to the create page should be the next project. So we can use another date picker and another way to build more flexible poll options. The problem will occur next time in march. Until then, we have time. 🤣

[2017-11-04 21:04] v1r0x commented on #232
IMO it is not always 'yes, but...' or it's a very broad definition of 'but...' 😉
Also the user didn't explicitly said no to an option. Beside that their votes are only stored if the click on the vote button. So they always have to check each checkbox.

I prefer a neutral default aka 'maybe'

[2017-11-04 21:10] v1r0x commented on #211
I thought about switching to a js framework. But I only know how to use Angular1 which is rather old.
Maybe vue.js is worth looking at. Would save us a lot of js code and overall complexity.

[2017-11-05 05:33] dartcafe commented on #211
We should use the core timepicker. Makes it more unique for the user and it is build in. See: https://github.com/nextcloud/server/issues/6348 and recent related issues.

[2017-11-05 05:59] dartcafe commented on #232
I was just judging from comments regarding the 'maybe' it is interprated as 'yes, but...' or 'OK, if no other date fits, I'll be in' or similar.

Beeing undecided is never good for a clear decision's fundament, so IMHO I would eliminate the 'maybe'. But if the users want this option, I will not argue against it.

But the question has to be, what a creator of a poll mant's to achieve. He asks somet

[2017-11-05 10:38] v1r0x commented on #211
Yes, as soon as it is available. If it is something that should be fixed before the new NC datetimepicker (NC 14 I think), it should be passed over to the current datetimepicker lib.

[2017-11-05 10:40] v1r0x commented on #232
You're right. Dudle defaults to _No_ as well. Thought it was _Maybe_. Then I'm ok with doing the same as the "major" poll apps :)

[2017-11-05 14:29] tYYGH commented on #230
My config contains this, where apps are concerned:

[code]

The first path contains apps from the upstream distribution of Nextcloud, while the second path contains apps that I added by enabling them in the Web UI. This latter path is where Polls is installed, and was entirely written by Nextcloud itself, so it is entirely writeable.

I wonder if the scss→css process does not try and write files t

[2017-11-05 16:41] dartcafe commented on #232
Done in #226

[2017-11-05 16:41] #232 closed

[2017-11-06 07:06] splitt3r commented on #223
I think we need to throttle the username check somehow otherwise someone could try to figure out user names. Here is an example of sth. like that https://github.com/userfrosting/UserFrosting/blob/master/app/sprinkles/account/src/Controller/AccountController.php#L80-L87

[2017-11-06 07:28] splitt3r commented on #179
@v1r0x @dartcafe i started some clean up over at https://github.com/splitt3r/polls/tree/cleanup maybe we should move that branch over to the nc repo so you can better track the progress and contribute?

[2017-11-06 09:42] v1r0x commented on #179
With great power comes great responsibility :wink:
Have fun :D

[2017-11-06 09:43] v1r0x commented on #223
Isn't there a bruteforce protection in NC for users/passwords? Maybe this can be adapted.

[2017-11-06 15:40] splitt3r commented on #211
+1 for using vue.js! I also thought about having a look at it.

[2017-11-06 15:44] splitt3r commented on #223
@v1r0x very good point ^^ https://github.com/nextcloud/server/pull/3120 seems to help us with that!

[2017-11-06 16:13] v1r0x commented on #211
I'd suggest to switch (on a dev branch) to vue.js after @dartcafe has finished the UI improvements.

[2017-11-07 06:17] dartcafe opened #235 "Add labels to repository."
For better clearence of the status of a PR, we could adopt the labels, which are used by the server repo.
0. needs riage
1. to develop
2. developing
3. to review
4. to release

Opinions?

[2017-11-07 08:07] v1r0x commented on #235
Good idea :+1:

[2017-11-07 08:30] splitt3r commented on #235
👍

[2017-11-07 14:55] splitt3r opened #236 "Remove ocsid from info.xml"
@v1r0x we need to remove the ocsid from our info.xml as it is removed from the validation schema https://apps.nextcloud.com/schema/apps/info.xsd => https://github.com/nextcloud/appstore/blob/master/CHANGELOG.md#added

Perhaps we should also delete https://apps.owncloud.com/content/show.php/Polls?content=174671 ?

[2017-11-07 15:53] v1r0x commented on #236
Do you know if ocsid is required by OC?

Is this necessary? I'd prefer a deprecated notice and links to the oc and nc app stores.

[2017-11-07 16:11] splitt3r commented on #236
I don´t think so. It´s up to you ^^ a notice would also do the job.

[2017-11-07 18:26] #235 closed

[2017-11-07 18:27] #219 closed

[2017-11-08 09:59] v1r0x commented on #236
Removed in #233 Let's see if it works with oC :grin:

[2017-11-08 11:29] splitt3r commented on #236
The official apps like calendar seem to not have it anymore either.

[2017-11-08 15:09] #214 closed

[2017-11-08 15:10] #236 closed

[2017-11-09 22:14] #187 closed

[2017-11-10 14:23] splitt3r commented on #193
We should have a look at https://github.com/nextcloud/announcementcenter/pulls?q=is%3Apr+comment+is%3Aclosed

[2017-11-12 12:52] jochen1205 commented on #96
Unfortunately bug is still present. Owncloud 10.0.3
Checked on several browsers on mobile and Desktop: Firefox, Safari, Chrome

[2017-11-13 15:52] diedeer opened #245 "Option to reset a Poll (remove all participants)"
Hi,

It can be usefull to remove all particpants to re-use a poll.

When we use the same information (same multiple choices/questions) in a poll every week, it seems more efficient to just remove all particpants from a terminated poll, change one or two things (date, title) and re-use it.

Regards.

[2017-11-14 11:47] schousda opened #246 "[Feature Request] Yes / No / Perhaps"
Hello,

i would be happy if there was not only yes or no as an option to select.
Please add an additional choice for "Perhaps".

Thanks.

[2017-11-14 13:47] v1r0x commented on #246
There are already three different options.
- Yes (green)
- No (red)
- Maybe/Perhaps/... (yellow)

[2017-11-14 13:47] #246 closed

[2017-11-15 09:30] splitt3r commented on #220
![Marketplace](https://storage.marketplace.owncloud.com/screenshots/files_clipboard-599ca56b721c5)

They seem to use the Nc + oC logo + some theming trick. Only people who realy care will notice the differences so i like that solution a lot.

[2017-11-15 09:53] BurtGummer commented on #211
I have almost the same problem with the time. I create a poll around 09:59, but the comments show times 09:05 and 09:10 ...

[2017-11-15 10:13] BurtGummer opened #247 "user picture from ldap not shown"
In a poll, all users have pictures (came from ldap). But one users picture not shown:

![image](https://user-images.githubusercontent.com/1249295/32830518-bf9b4282-c9f5-11e7-8064-69e47136c378.png)

If i login with this user, the picture is shown at the menu.

The only error in the log is:

`	OCP\AppFramework\Db\DoesNotExistException: Did expect one result but found none when executing: query "SELE

[2017-11-15 10:24] splitt3r commented on #247
Does the browser console say sth.? Is the avatar shown in other apps? I thnink Nc handles the avatars so the chances are high that we can´t do anything here. You could also inspect the element with your browser to check the images url.

[2017-11-15 10:53] BurtGummer commented on #247
Hello splitt3r,

i right click on the error-picture, "Inspect" (in germand "Untersuchen"), klick on console: nothing there:

![image](https://user-images.githubusercontent.com/1249295/32831806-c8626892-c9f9-11e7-84a1-e680d35a6b79.png)

NC show the picture - **if i login with this user, i see** his picture (for example in "personal" or in shares or in the menu).

The images URL seems exact the same

[2017-11-15 10:56] BurtGummer commented on #247
wtf?!? i dont know why, but now it works. Seems it needs some time to synchronize the pictures. Sorry and thank you :-)

[2017-11-15 10:56] #247 closed

[2017-11-16 06:39] jgrete commented on #211
Another date problem: choosing an expiration date X days from now results in an expiration date X days BEFORE now.
Example: Current day 16th of november. Choose 19th of november as expiration date and you'll get
"expired since 3 days". Maybe it is just a misplaced sign within the date calculation or a method call with interchanged arguments or a wrong translation ??

[2017-11-16 10:31] v1r0x commented on #211
@jgrete You talk about the label displayed in the UI, not the date stored in the DB? The wrong translation is fixed in NC 13 (I think), but I don't know if it's available in NC 12 as well. @dartcafe can give more information (hopefully :wink: )

[2017-11-16 12:06] jgrete commented on #211
@v1r0x Ok, I'll wait until tomorrow. If it's only the translation the absolute value will decrease, if not increase

[2017-11-16 15:33] dartcafe commented on #211
See here: https://github.com/nextcloud/server/pull/6897, https://github.com/nextcloud/server/pull/6896 and
https://github.com/nextcloud/server/pull/6837 are already merged to corresponding branch. You have to wait for the releases.

[2017-11-19 12:59] eraelpeha opened #248 "Owner should be able to remove entries"
It would be a great enhancement if the owner of a poll has the ability to delete single result lines from a poll (in case of test / multiple / fake entries).

[2017-11-19 16:27] tYYGH opened #249 "Polls app takes for granted that it lives under /apps"
### Steps to reproduce
1. Install Nextcloud in read-only `/usr`, with writeable data in `/var/lib/nextcloud`:
    - official apps are bundled with NC under `/usr`,
    - extra apps get installed in `/var/lib/nextcloud/apps`.
2. Install Polls: it gets installed in `/var/lib/nextcloud/apps/polls`, associated with URL prefix `/xapps/polls`.
3. Polls mostly works.

### Expected behaviour
URLs to `/…/p

[2017-11-21 10:37] dartcafe commented on #248
I will think over it. But it schould be reproducable for other participants. For example mark them as invalid...

[2017-11-21 10:56] dartcafe commented on #230
We should think about switching to static css, instead of scss files, als long as these installation profiles are not supported properly. I close this and open a new issue.

[2017-11-21 10:59] dartcafe opened #250 "Switchin from scss to css."
There are some issues regarding non standard installations of NC. So we should switch to css for the releases, until scss support in NC is complete for this installation variants. Additionally this issue would support NC11 and OC as well.

[2017-11-21 11:23] splitt3r commented on #250
How do other apps like [Contacts](https://github.com/nextcloud/contacts/tree/master/css) or [Deck](https://github.com/nextcloud/deck/tree/master/css) handle this problem? Sounds like a rare case 🤔 perhaps we could implment a fallback?

[2017-11-21 11:24] splitt3r commented on #249
Same problem with Deck and Contacts app?

[2017-11-21 11:48] tYYGH commented on #249
Indeed, Deck and Contacts (see https://github.com/nextcloud/contacts/issues/439) also have presentation issues, although I had not thought about the similarity until you pointed it out! I will try to apply the same “solution” to those two apps…

[2017-11-21 14:47] pixelipo commented on #249
@juliushaertl didn't you recently make a PR related to this?

[2017-11-21 19:35] dartcafe commented on #250
The problem seems to be inside the scss precompiler in NC which compiles `background-image: url('../img/open-voted-vote.svg');` to `background-image: url('../../../apps/polls/css/../img/open-voted-vote.svg');` pointing from the css directory.

If I compile the scss locally the precompiler leaves it untouched.

I have no idea how to have a fall back strategy. Seems, that the functions in core have

[2017-11-21 19:45] dartcafe commented on #250
@v1r0x: We just need to eleminate the scss files from the releases.
@splitt3r Any change to have a robot which nightly compiles the css files? Maybe for some other jobs too.

[2017-11-21 21:10] splitt3r commented on #250
Hm i don´t think so. Perhaps Travis CI could do it but that would be a very hacky solution. Let´s wait for an answer to https://github.com/nextcloud/polls/issues/249#issuecomment-346048705.

[2017-11-21 22:20] darootler opened #251 "Argument 8 passed to OC\Core\Controller\AvatarController::__construct() must implement interface OCP\Files\Folder, null given"
### Steps to reproduce
1. Create a public poll
2. Access the public poll
3. Check the log files

### Expected behaviour
No errors are logged

### Actual behaviour
I am receiving the following error:
`{index} Exception: {"Exception":"TypeError","Message":"Argument 8 passed to OC\\Core\\Controller\\AvatarController::__construct() must implement interface OCP\\Files\\Folder, null given, called in \/v

[2017-11-22 22:58] juliushaertl commented on #249
Nope, but it looks like https://github.com/nextcloud/server/issues/5289. @kyrofa mentioned on IRC that he is working on a fix for that.

[2017-11-23 00:53] kyrofa commented on #249
Indeed this looks the same-- the bug only bites with scss. I have a failing unit test, just driving toward a solution. Note that the test already passes on master, so it seems this issue has been fixed there. It's just broken in v12. Can you verify?

[2017-11-23 01:14] kyrofa commented on #249
Just tested my fix, it works. I'll clean it up and propose it either later tonight or in the morning.

[2017-11-23 05:43] kyrofa commented on #249
Please take a look at https://github.com/nextcloud/server/pull/7257 .

[2017-11-23 07:39] tYYGH commented on #249
Thank you, @kyrofa. Unfortunately, this does not seem to fix things for me.

I downloaded https://github.com/nextcloud/server/pull/7257.patch and applied the patch on my Nextcloud installation:

[code]

I also re-enables the SCSS files:
[code]

Finally, I made sure to restart the server:
[code]

Neither Contacts nor Polls sees any improvement over the result from the original code.

[2017-11-23 08:35] pixelipo commented on #249
@tYYGH I noticed this in your config file:
[code]

Could it be the fact that your apps location is not `writeable`? Also, two different folders seem to share the same URL - that doesn't sound right...

[2017-11-23 08:37] tYYGH commented on #230
This is probably related to https://github.com/nextcloud/server/issues/5289

[2017-11-23 08:40] tYYGH commented on #249
It depends on which “apps” you talk about ;-)
* `/usr` is of course read-only: this is the upstream package, ie. Nextcloud + bundled apps.
* `/var` is writeable; this is where Nextcloud is allowed to “grow”…

[2017-11-23 09:30] splitt3r commented on #250
So if https://github.com/nextcloud/server/pull/7257 don´t need to switch 👍

[2017-11-23 11:17] splitt3r commented on #251
Can reproduce it and found https://github.com/owncloud/core/issues/23158 after googling it. Perhaps you could give some feedback there so they can investigate further.

[2017-11-24 20:39] eraelpeha opened #253 "Show total participants count"
It would also be great to see the number of total participants of a poll, e.g. at the bottom below all the names.

[2017-11-27 09:50] Hanzei commented on #250
https://github.com/nextcloud/server/pull/7257 is merged :smile:

[2017-11-27 10:11] #250 closed

[2017-11-27 10:12] splitt3r commented on #230
See https://github.com/nextcloud/polls/issues/250#issuecomment-347130817

[2017-11-27 10:12] #230 closed

[2017-11-27 10:12] splitt3r commented on #249
See https://github.com/nextcloud/polls/issues/250#issuecomment-347130817

[2017-11-27 10:12] #249 closed

[2017-11-27 10:14] splitt3r commented on #251
Issue in core repo is reopened so i will close this for now.

[2017-11-27 10:14] #251 closed

[2017-12-01 11:35] dartcafe opened #255 "Consolidate particip tables?"
The tables `polls_particip` and `polls_particip_text` are carrying the same information, with the difference, that the option is a date type on one side and a text type of the other side.

Either, we add a column to carry both types or the date type can become a text type with type migration in the get function.

So we can ommit some functions in the controller, which are duplicates, besides the d

[2017-12-01 11:37] splitt3r commented on #255
Parts of the data model are a bit strange indeed 😆 we should consider some optimizations but also need to create a solid migration.

[2017-12-01 11:38] splitt3r commented on #255
While recreating my Nc app i also dived deeper into sharing and comments in Nc. We could do pretty cool things in the polls app there too.

[2017-12-01 13:58] v1r0x commented on #255
Yes, the data model is a bit crappy 😅 I'm open for suggestions, if the existing data can be easily migrated.

[2017-12-01 17:53] dartcafe commented on #255
I think, it is a good moment for cleaning up the data model. But I fear, I have no change to get into it, because of missing programming experience.

Also some more smoother ways of sharing and commenting would be great. At least, I have some ideas of making the create/update GUI a little bit more comfortable.

So what about merging the develp branch and start with some work under the engine cover

[2017-12-01 18:40] dartcafe commented on #156
The time picker is weird
![grafik](https://user-images.githubusercontent.com/26707476/33497819-7b2d0658-d6cf-11e7-8bbd-27c6ba5819f9.png)

[2017-12-01 22:56] splitt3r commented on #255
Great idea. Ref https://github.com/nextcloud/server/issues/7315

[2017-12-02 07:14] dartcafe opened #258 "Some housekeeping"
To cleanup the project:
There are some stale branches, `origin/full-anon` is merged and `full-anon` is rather old and far behind master. Maybe, they should be deleted?

#104 will not be merged anymore, I think. Close this?

[2017-12-02 12:53] v1r0x commented on #258
Both done 😉

[2017-12-02 12:58] #258 closed

[2017-12-03 07:35] dartcafe opened #259 "Drop support?"
There should be a general decision, on which fork we concentrate future development and support.

As NC and OC get more and more incompatible, it becomes difficult to support both forks. So we should state clear, which of them will be supported in the future. The last experience with the migrations is not a good one.
Vote here: https://nc12.yagst.de/index.php/apps/polls/poll/gi5jJL5InqNqZ77a

Also

[2017-12-03 09:13] splitt3r commented on #259
Its's Nextcloud :grin:

[2017-12-03 14:53] splitt3r commented on #220
Solved by #257 ref #259

[2017-12-03 14:53] #220 closed

[2017-12-03 18:04] RainerBraunschweig opened #261 "Edit own item fails if Name differ in whitespaces in public polls"
### Steps to reproduce
1. Make an entry and vote in a public poll
2. call again same public poll to modify your vote
3. type in your name with a different count of whitespaces between first name and surname and vote again

### Expected behaviour
the old entry should be replaced

### Actual behaviour
the old and the new vote apear and the owner of the poll will be confused.

It would be great to ha

[2017-12-03 18:07] splitt3r opened #262 "Add foreign keys"
With the new migration system in place we could add foreign keys to keep the database clean. We should investigate which exceptions could occure and what db versions are required to go that way.

[2017-12-04 18:04] dartcafe commented on #261
It is actually no good solution just to enter a name without a ckeck, if the username exists. In this way anybody can change any poll entry. We have to build an abstraction with checks on the username and an individual hash for every participant, so he canndirectly edit his own vote. Regarding #223

[2017-12-07 07:21] muhackl commented on #96
Same issue here. Owncloud 10.0.3; Polls 0.8.0.
Safari, Chrome (Mac)
Chrome output:
![screen](https://user-images.githubusercontent.com/3956731/33703224-88b7d152-db27-11e7-8f3f-c3015c718ea5.png)

[2017-12-07 09:00] splitt3r commented on #96
Does this happen in any other app? Is there anything special about this poll / the user the avatar fails to load for? Could you create an public poll to show us the issue / an account?

[2017-12-07 12:11] muhackl commented on #96
This happens just in the polls app.
And it just appears, if I set the poll public or hidden.
But it does not depend, if user names are anonymous or not.
As soon as I am logged in and open the poll, the error does not occur.
Any clues?

[2017-12-07 17:22] PieterHollevoet opened #265 "Hide results while poll is open"
An option to make a poll completely anonymous by not showing the choices made by other users.

[2017-12-07 21:12] dartcafe commented on #96
There seems to be some incopatibility with the avatarmanager, when the avatars are loaded via JS in public polls. I can reproduce this as well.

But I cannot see a relationship to the starting issue. Seesms to be a nother issue or do I understand something wrong?

[2017-12-07 21:13] dartcafe commented on #96
And BTW: I still cannot reproduce the starting issue.

[2017-12-08 14:00] muhackl commented on #96
What exactly do you mean by „the starting issue“?
Any idea how to solve or workaroud this issue?

[2017-12-08 15:39] dartcafe commented on #96
This issue started with something around a continuous loading of the page in public polls (see screenshots). Something I cannot reproduce.

The last comments regard an issue related to not loading avatars and which I can reproduce. I cannot see a relationship between both things.

And no, I have no workaround for that at the moment. I will investigate next week. Maybe someone else can solve that f

[2017-12-08 15:46] muhackl commented on #96
Well the relation is (but unfortunately I did not state this clearly): I get exactly the same error message and the same symptom as mentioned in the starting post: page reloads every 5 seconds (as announced in the error message).

[2017-12-08 16:14] splitt3r commented on #96
Had a quick look and seems to be just another Nc vs. oC thing. Nc avatars are public https://github.com/nextcloud/server/blob/master/core/Controller/AvatarController.php#L115-L118 but oCs aren´t https://github.com/owncloud/core/blob/master/core/Controller/AvatarController.php#L107-L108.

[2017-12-09 04:43] dartcafe commented on #259
Brief summary, so far:

- 7 participants,
- 0 votes for owncloud,
- 7 for nextcloud.

https://nc12.yagst.de/index.php/apps/polls/poll/gi5jJL5InqNqZ77a

- 5 participants
- 5 votes for current version
- 4 votes for current - 1 and 1 against
- 4 votes against current version -2 and 1 maybe

This means, that for the moment we will continue support for oC 10, NC12 and NC11. NC11 support will be dropped

[2017-12-10 11:55] danielepercivaldi commented on #41
Great work! I think there is more work to do about details, but now the feature exists and this is the most important thing. Thanks.

[2017-12-10 15:43] splitt3r commented on #259
https://www.techandme.se/owncloud-10-0-4-last-vm-version/ an interesting article realted to this issue 😁

[2017-12-11 06:08] dartcafe commented on #96
@muhackl Please try #266

[2017-12-11 06:09] dartcafe commented on #96
Test instance: https://oc10.yagst.de/index.php/apps/polls/poll/12rdzh9QYiFZaFz4

[2017-12-13 19:52] splitt3r opened #267 "Remove orphaned entries after deleting poll"
We should do sth. like https://github.com/nextcloud/deck/blob/master/lib/Migration/UnknownUsers.php to remove all the orphaned entries and sth. like https://github.com/splitt3r/mindmaps/blob/feature/rework-js/lib/AppInfo/Application.php#L58-L76 so it doesn´t happen again.

[2017-12-13 20:03] #179 closed

[2017-12-13 20:15] splitt3r commented on #259
We should also remove the Nc 10 & Nc 11 versions of the app from the [store](https://apps.nextcloud.com/apps/polls) so they aren´t around anymore.

[2017-12-14 05:32] dartcafe commented on #131
Will be fixed when recreating the edit/create page.

[2017-12-14 05:34] dartcafe commented on #59
Should be fixed with #260. See https://github.com/nextcloud/polls/pull/260#issuecomment-349417659

[2017-12-14 06:02] muhackl commented on #96
I changed the code of vote.js. After that, the 5-second-reload issue was no longer there. But there are no Dates shown any longer. Just zeros (0).
Another symptom I was watching already before this fix: When adding a new poll, I just chose several dates and just one time so I get one column. After one anonymous took part on the poll and I get back as admin to the edit mode of the poll, it looks li